/**
 * Place your custom styles here.
 */
#admin-menu li {
  position: static;
}

#admin-menu li:before {
  content: none;
}

.red-text {
  color: #FE4A49;
}

.no-bullets {
  list-style-type: none;
}

.no-bullets li:before {
  content: none;
}

.ka-hidden {
  display: none;
}

.form-item.error-processed input[type="text"] {
  border-color: #FE4A49;
}

.krumo-root {
  color: #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.form-item .counter {
  display: none;
}

.preview .node {
  background-color: #EFEFEF;
}

a.header {
  color: inherit;
}

.show-calendar .calendar {
  border-collapse: inherit !important;
  margin: inherit !important;
  width: inherit !important;
}

#eventTable tr.eventItem {
  display: none;
}

#eventTable tr.eventItem.visible-row {
  display: table-row;
}

.addthis-holder .at-icon-wrapper {
  display: none;
}

.tingle-newsletter .tingle-modal-box {
  width: 50%;
}

b.disabled {
  color: #898989;
}

/* conflict with list view height update 25.03.19. AL
.list-view .list-item{
  min-height: 200px !important;
}
*/

a[data-organiser-sort] {
  cursor: pointer;
}

.saaremaa-logo {
  width: inherit !important;
}

.no-top-margin {
  margin-top: 0rem !important;
}

.login-buttons input[type="image"] {
  line-height: 3.13rem;
  color: #363636;
  font-weight: 900;
  text-decoration: none;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -o-transition: color .25s;
  height: 3.13rem;
  display: inline-block;
  vertical-align: middle;
  padding-right: .75rem;
  -webkit-transition: -webkit-transform .25s;
  -moz-transition: -moz-transform .25s;
  -o-transition: -o-transform .25s;
  transition: transform .25s;
}

.login-buttons {
  display: block;
  line-height: 3.13rem;
  color: #363636;
  font-weight: 900;
  text-decoration: none;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.login-buttons button {
  margin-top: 3.13rem;
}

.challenge-id {
  font-size: 32px;
  text-align: center;
}