include "modules/head.html"
<div class="wrapper">
	
	include "modules/header.html"
	
	<section class="content">
      <div class="inline">
         
         <div class="row sm-hide">
            <div class="col-12">
               include "modules/breadcrumbs.html"
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row no-margin sm-overflow">
            
            <div class="col-6 sm-12 stretch-content">
               <div class="image" style="background-image:url(assets/tmp/jjstreet.jpg)">
                  <img src="assets/imgs/placeholder-56.gif" /> 
                  <ul class="tags filled">
                     <li class="tag-6"><a href="">tants</a></li>
                  </ul>
               </div><!--/image-->
               
            </div><!--/col-6-->
            
            <div class="col-6 sm-12 stretch-content">
               <div class="block-gray">
                  <h1>JJ-street tantsukool</h1>
                  <p class="highlight-1 size-xl">JJ-Street Tartu tantsukool  <a href="#map" class="before-location link pull-right">vaata kaardil</a></p>
                  <p class="size-xl">2. sept - 17. apr</p>
                  <p class="size-xl">alate 25€/kuus</p>

                  <p>
                     <b>Urban Kids (vanuserühm kuni 10 a)</b> | <b>K</b> 16:00 | <b>R</b> 16:00 <br />
                     <b>Hip-Hop (vanuserühm 11-14 a)</b> | <b>K</b> 17:00 | <b>R</b> 17:00 <br />
                     <a href="">+ 10 rühma veel</a>
                  </p>
               </div><!--/block-gray-->
               
            </div><!--/col-6-->
         </div><!--/row-->
         
         <div class="row sm-overflow">
            <div class="col-12">
               <div class="block">
                  <div class="row">
                     <div class="col-7 sm-12">
                        
                        <article>
                           <h5 class="sm-hide">Galerii</h5>
                           
                           <div class="row sm-hide" data-plugin="gallery">
                              <div class="col-2">
                                 <a href="assets/tmp/list-1.jpg" class="image" style="background-image:url(assets/tmp/list-1.jpg)"><img src="assets/imgs/placeholder-1.gif"></a>
                              </div><!--/col-2-->
                              <div class="col-2">
                                 <a href="assets/tmp/list-2.jpg" class="image" style="background-image:url(assets/tmp/list-2.jpg)"><img src="assets/imgs/placeholder-1.gif"></a>
                              </div><!--/col-2-->
                              <div class="col-2">
                                 <a href="https://www.youtube.com/watch?v=LgqBpJE-53E" class="image before-play" style="background-image:url(assets/tmp/list-3.jpg)"><img src="assets/imgs/placeholder-1.gif"></a>
                              </div><!--/col-2-->
                           </div><!--/row-->
                           
                           <h5 class="sm-hide">Tutvustus</h5>
                           <div class="text-wrapper" data-class="'full-text' : moreText">
                              <p><b>Macaroon jelly marshmallow croissant chupa chups dragée. Toffee sugar plum cupcake cake apple pie. Sesame snaps jujubes pudding jelly beans chocolate cake muffin ice cream gummies. Liquorice pudding powder dragée chocolate cake bonbon.</b></p>
                              <p>Jujubes biscuit sweet roll carrot cake sweet roll soufflé bear claw cheesecake. Toffee fruitcake sweet roll lollipop bear claw soufflé halvah. Chupa chups bear claw powder chocolate bar pudding dragée liquorice. Ice cream sugar plum pastry pudding bear claw cheesecake ice cream bonbon bear claw. Muffin apple pie candy jelly beans cake chupa chups wafer sugar plum jujubes. Gummi bears croissant jelly beans. Oat cake soufflé brownie marshmallow pudding candy canes liquorice. Bonbon powder ice cream pie carrot cake danish tart marzipan.</p>
                              <p>Dessert jelly beans halvah. Pudding gingerbread sweet roll candy liquorice. Tart halvah tiramisu ice cream marshmallow gummi bears. Candy pudding dessert cake tiramisu soufflé. Sweet danish chocolate bar icing candy. Jelly-o danish candy cake chupa chups tiramisu jelly liquorice gingerbread. Dessert ice cream bear claw toffee sweet roll. Sugar plum chocolate bar gummies. Gummies cake biscuit gingerbread chocolate bar jelly-o donut carrot cake candy.</p>
                              <p>Vaata lähemalt: <a href="">www.link.ee/meisterjamargarita</a></p>
                           </div><!--/text-wrapper-->
                           <div class="link after-arrow_down sm-show" data-toggle="moreText" data-class="'hidden' : moreText" >Loe veel</div>
                           
                        </article>
                     </div><!--/col-7-->
                     <div class="col-5 sm-12">
                        
                        <h5 class="half-margin">Asukoht kaardil</h5>
                        
                        <div class="map" data-plugin="googleMaps" data-lat="58.3801454" data-lng="26.7188422">
                           <img src="assets/imgs/placeholder-56.gif" class="placeholder">
                        </div><!--/image-->
                        
                        <h5 class="half-margin">Korraldaja</h5>
                        
                        <p>
                           <b>Asutus</b>: JJ-Street Tartu tantsukool<br />
                           <b>Aadress</b>: Ülikooli 12<br />
                           <b>Kontaktisik</b>: Mari<br />
                           <b>Tel</b>: +372 5740 5454<br />
                           <b>E-post</b>: mari@jjstreet.ee<br />
                           <a href="">www.jjstreet.ee</a>
                        
                        </p>
                     </div><!--/col-5-->
                  </div><!--/row-->
                  
                  <div class="row">
                     <div class="col-12">
                        <h5>Rühmad ja toimumise info</h5>

                        <table class="interests sm-show">
                           <tbody>
                              <tr>
                                 <td colspan="2"><b>Urban Kids</b> <b>(vanuserühm kuni 10 a)</b><br />12.01 - 14.01.2017</td>
                              </tr>
                              <tr>
                                 <td>K 16:00 - 17:00</td>
                                 <td>Teater Vanemuine | Suur Saal</td>
                              </tr>
                              <tr>
                                 <td>R 16:00 - 17:00</td>
                                 <td>Tartu Tantsukool | Ülikooli 12</td>
                              </tr>
                              <tr>
                                 <td colspan="2">
                                    <a href="" class="link before-calendar after-arrow_down">Lisa kalendrisse</a>
                                 </td>
                              </tr>
                              <tr>
                                 <td colspan="2">
                                    <b>Registreerimine:</b> info@jjstreet.ee | 57405454 | <a href="" class="link">www.jjstreet.ee/tunniplaan </a>
                                 </td>
                              </tr>
                              <tr>
                                 <td colspan="2">
                                    <b>Hind:</b> alates 25€ / kuus
                                 </td>
                              </tr>
                              <tr>
                                 <td colspan="2">
                                    <a href="" class="btn stretch">Registreeri</a>
                                 </td>
                              </tr>
                           </tbody>
                           
                           <tbody>
                              <tr>
                                 <td colspan="2"><b>Urban Kids</b> <b>(vanuserühm kuni 10 a)</b><br />12.01 - 14.01.2017</td>
                              </tr>
                              <tr>
                                 <td>K 16:00 - 17:00</td>
                                 <td>Teater Vanemuine | Suur Saal</td>
                              </tr>
                              <tr>
                                 <td>R 16:00 - 17:00</td>
                                 <td>Tartu Tantsukool | Ülikooli 12</td>
                              </tr>
                              <tr>
                                 <td colspan="2">
                                    <a href="" class="link before-calendar after-arrow_down">Lisa kalendrisse</a>
                                 </td>
                              </tr>
                              <tr>
                                 <td colspan="2">
                                    <b>Registreerimine:</b> info@jjstreet.ee | 57405454 | <a href="" class="link">www.jjstreet.ee/tunniplaan </a>
                                 </td>
                              </tr>
                              <tr>
                                 <td colspan="2">
                                    <b>Hind:</b> alates 25€ / kuus
                                 </td>
                              </tr>
                              <tr>
                                 <td colspan="2">
                                    <center><span class="link danger">Rühm on täitunud!</span></center>
                                 </td>
                              </tr>
                           </tbody>
                           
                           <tbody>
                              <tr>
                                 <td colspan="2"><b>Urban Kids</b> <b>(vanuserühm kuni 10 a)</b><br />12.01 - 14.01.2017</td>
                              </tr>
                              <tr>
                                 <td>K 16:00 - 17:00</td>
                                 <td>Teater Vanemuine | Suur Saal</td>
                              </tr>
                              <tr>
                                 <td>R 16:00 - 17:00</td>
                                 <td>Tartu Tantsukool | Ülikooli 12</td>
                              </tr>
                              <tr>
                                 <td colspan="2">
                                    <a href="" class="link before-calendar after-arrow_down">Lisa kalendrisse</a>
                                 </td>
                              </tr>
                              <tr>
                                 <td colspan="2">
                                    <b>Registreerimine:</b> info@jjstreet.ee | 57405454 | <a href="" class="link">www.jjstreet.ee/tunniplaan </a>
                                 </td>
                              </tr>
                              <tr>
                                 <td colspan="2">
                                    <b>Hind:</b> alates 25€ / kuus
                                 </td>
                              </tr>
                              <tr>
                                 <td colspan="2">
                                    <a href="" class="btn stretch">Registreeri</a>
                                 </td>
                              </tr>
                           </tbody>
                           
                           
                        </table><!--/interests sm-show-->
                        
                        <table class="main sm-hide">
                           <thead>
                              <tr>
                                 <th>Nimi</th>
                                 <th>Toimumisaeg</th>
                                 <th>Kellaaeg</th>
                                 <th>Asukoht</th>
                                 <th>Hind</th>
                              </tr>
                           </thead>
                           <tbody>
                              
                              <!-- ONE ENTRY START -->
                              <tr class="no-line">
                                 <td><b>Urban Kids</b></td>
                                 <td>Kolmapäev</td>
                                 <td>16:00 - 17:00</td>
                                 <td>Teater Vanemuine | Suur Saal</td>
                                 <td>alates 25€ / kuus</td>
                              </tr>
                              <tr class="opaque-line">
                                 <td><b>(vanuserühm kuni 10 a)</b></td>
                                 <td>Reede</td>
                                 <td>16:00 - 17:00</td>
                                 <td>Tartu Tantsukool | Ülikooli 12</td>
                                 <td></td>
                              </tr>
                              <tr class="register">
                                 <td><a href="" class="link after-calendar">Lisa kalenderisse</a></td>
                                 <td colspan="3"><b>Registreerimine:</b> info@jjstreet.ee | 57405454 | <a href="" class="link">www.jjstreet.ee/tunniplaan </a></td>
                                 <td><a href="" class="link after-arrow_right">Registreeri</a></td>
                              </tr>
                              
                              <!-- ONE ENTRY END -->
                              
                              <!-- ONE ENTRY START -->
                              <tr class="no-line">
                                 <td class="disabled"><b>Urban Kids</b></td>
                                 <td>Kolmapäev</td>
                                 <td>16:00 - 17:00</td>
                                 <td>Teater Vanemuine | Suur Saal</td>
                                 <td>alates 25€ / kuus</td>
                              </tr>
                              <tr class="opaque-line">
                                 <td class="disabled"><b>(vanuserühm kuni 10 a)</b></td>
                                 <td>Reede</td>
                                 <td>16:00 - 17:00</td>
                                 <td>Tartu Tantsukool | Ülikooli 12</td>
                                 <td></td>
                              </tr>
                              <tr class="register">
                                 <td><a href="" class="link after-calendar">Lisa kalenderisse</a></td>
                                 <td colspan="3"><b>Registreerimine:</b> info@jjstreet.ee | 57405454 | <a href="" class="link">www.jjstreet.ee/tunniplaan </a></td>
                                 <td><span class="link danger">Rühm on täitunud!</span></td>
                              </tr>
                              <!-- ONE ENTRY END -->
                              
                              <!-- ONE ENTRY START -->
                              <tr class="no-line">
                                 <td><b>Urban Kids</b></td>
                                 <td>Kolmapäev</td>
                                 <td>16:00 - 17:00</td>
                                 <td>Teater Vanemuine | Suur Saal</td>
                                 <td>alates 25€ / kuus</td>
                              </tr>
                              <tr class="opaque-line">
                                 <td><b>(vanuserühm kuni 10 a)</b></td>
                                 <td>Reede</td>
                                 <td>16:00 - 17:00</td>
                                 <td>Tartu Tantsukool | Ülikooli 12</td>
                                 <td></td>
                              </tr>
                              <tr class="register">
                                 <td><a href="" class="link after-calendar">Lisa kalenderisse</a></td>
                                 <td colspan="3"><b>Registreerimine:</b> info@jjstreet.ee | 57405454 | <a href="" class="link">www.jjstreet.ee/tunniplaan </a></td>
                                 <td><a href="" class="link after-arrow_right">Registreeri</a></td>
                              </tr>
                              
                              <!-- ONE ENTRY END -->
                              
                           </tbody>
                        </table>
                        <center>
                           <a href="" class="btn btn-inactive">Laadi veel</a>
                        </center>
                     </div><!--/col-12-->
                  </div><!--/row-->
                  

               </div><!--/block-->
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <div class="row ">
                  <div class="col-12">
                     <h5>Sarnased huvitegevused</h5>
                  </div><!--/col-12-->
               </div><!--/row-->
               
               <div class="row ">
                  <div class="col-12">
                     include "modules/caroussel.html"
                  </div><!--/col-12-->
               </div><!--/row-->
            </div><!--/col-12-->
         </div><!--/row-->
      </div><!--/inline-->
		
      
	</section><!--/content-->
	include "modules/footer.html"
</div><!--/wrapper-->
