include "modules/head.html"
<div class="wrapper">
	include "modules/header.html"
	<section class="content">
		<div class="inline">
			
			<div class="row">
				<div class="col-12">
					<div class="block">
						<h3>Üldised vaated:</h3>
						<ul class="tags">
							<li class="tag-4"><a href="404.html" target="_blank">404</a></li>
                     <li class="tag-4"><a href="elements.html" target="_blank">Elements</a></li>
                     <li class="tag-4"><a href="esileht.html" target="_blank">Esileht</a></li>
                     <li class="tag-4"><a href="otsing.html" target="_blank">Otsing</a></li>
                     <li class="tag-4"><a href="seaded.html" target="_blank">Seaded</a></li>
                     
							
						</ul><!--/tags-->
					</div><!--/block-->
				</div><!--/col-12-->
			</div><!--/row-->
         
         <div class="row">
				<div class="col-12">
					<div class="block">
						<h3>Huvitegevused:</h3>
						<ul class="tags">
                     <li class="tag-2"><a href="huvitegevused.html" target="_blank">Huvitegevused</a></li>
                     <li class="tag-2"><a href="huvitegevused-detailvaade.html" target="_blank">Huvitegevused - Detailvaade</a></li>
                     <li class="tag-2"><a href="huvitegevused-lisa.html" target="_blank">Huvitegevused - Lisa</a></li>
                     <li class="tag-2"><a href="huvitegevused-taidetud.html" target="_blank">Huvitegevused - Täidetud</a></li>
						</ul><!--/tags-->
					</div><!--/block-->
				</div><!--/col-12-->
			</div><!--/row-->
         
         
         <div class="row">
				<div class="col-12">
					<div class="block">
						<h3>Sündmused:</h3>
						<ul class="tags">
                     <li class="tag-3"><a href="syndmused.html" target="_blank">Sündmused</a></li>
                     <li class="tag-3"><a href="syndmused-detailvaade.html" target="_blank">Sündmused - Detailvaade</a></li>
                     <li class="tag-3"><a href="syndmused-eelvaade.html" target="_blank">Sündmused - Eelvaade</a></li>
                     <li class="tag-3"><a href="syndmused-lisa.html" target="_blank">Sündmused - Lisa</a></li>
						</ul><!--/tags-->
					</div><!--/block-->
				</div><!--/col-12-->
			</div><!--/row-->
         
			<div class="row">
				<div class="col-12">
					<div class="block">
						<h3>Korraldaja:</h3>
						<ul class="tags">
                     <li class="tag-5"><a href="korraldaja.html" target="_blank">Korraldaja</a></li>
                     <li class="tag-5"><a href="korraldaja-sisse_logitud.html" target="_blank">Korraldaja - Sisse logitud</a></li>
                     
							
						</ul><!--/tags-->
					</div><!--/block-->
				</div><!--/col-12-->
			</div><!--/row-->
         
         <div class="row">
				<div class="col-12">
					<div class="block">
						<h3>Kalender:</h3>
						<ul class="tags">
                     <li class="tag-6"><a href="kalender.html" target="_blank">Kalender</a></li>
						</ul><!--/tags-->
					</div><!--/block-->
				</div><!--/col-12-->
			</div><!--/row-->
			
		</div><!--/inline-->
		
	</section><!--/content-->
	include "modules/footer.html"
</div><!--/wrapper-->