include "modules/head-no-responsive.html"
<div class="wrapper">
	
	include "modules/header.html"
	
	<section class="content">
      <div class="inline">
         
         <div class="row sm-hide">
            <div class="col-12">
               include "modules/breadcrumbs.html"
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <h1>Korraldajale</h1>
            </div><!--/col-12-->
         </div><!--/row-->
         
         
         <div class="row">
            <div class="col-6">
               <p>Enda sisestatud sündmuste haldamiseks <b class="highlight-1">logi palun sisse.</b></p>
            </div><!--/col-6-->
            <div class="col-6 text-right">
               <a href="api/uus_syndmus.html" class="btn btn-disabled half-margin" data-plugin="overlay">Lisa uus sündmus</a>
               <a href="api/uus_syndmus.html" class="btn btn-disabled half-margin" data-plugin="overlay">Lisa uus huvitegevus</a>
            </div><!--/col-6-->
         </div><!--/row-->
         
         
         <div class="row">
            <div class="col-12">
               <div class="block rounded">
                  <div class="row separator">
                     <div class="col-6">
                        <h3>Sisene turvaliselt:</h3>
                        
                        <div class="login-buttons">
                           <a href=""><img src="assets/imgs/id-kaart.svg" /> Sisene ID-kaardiga</a>
                           <span class="divider"><span>või</span></span>
                           <a href=""><img src="assets/imgs/mobiil-id.svg" /> Sisene Mobiili ID-ga</a>
                        </div><!--/login-buttons-->
                        
                        <!-- vormi pole vaja -->
                        <form method="post" action="" style="display:none;">
                           <div class="login-form">
                                 <div class="form-item">
                                    <div class="form-item_title">Isikukood*</div>
                                    <input type="text" placeholder="Sisesta isikukood" />
                                 </div><!--/form-item-->
                                 <div class="form-item">
                                    <div class="form-item_title">Telefoninumber*</div>
                                    <input type="text" placeholder="Sisesta telefoninumber" />
                                 </div><!--/form-item-->
                           </div><!--/login-form-->
                           <div class="text-right">
                              <button class="btn">Sisene</button>
                           </div><!--/text-right-->
                        </form>
                        
                     </div><!--/col-6-->
                     <div class="col-6">
                        <h3>Sisene läbi sotsiaalmeedia</h3>
                        <div class="spacing"></div>
                        <a href="" class="btn before-facebook" title="logi">Logi sisse Facebook-iga</a>
                        <div class="spacing"></div>
                        <a href="" class="btn before-googleplus" title="google">Logi sisse Google+ -iga</a>
                     </div><!--/col-6-->
                     
                  </div><!--/row-->
               </div><!--/block rounded-->
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <h3>Info ürituse korraldajale</h3>
               
               <div class="accordion" data-plugin="accordion">
                  <div class="accordion-entry">
                     <div class="accordion-title">1.  Milliseid üritusi võib Kultuuriaknasse sisestada?</div>
                     <div class="accordion-content">
                        <p>Soovides korraldada Tartus avalikku üritust on eelnevalt vajalik see linnavalitsuse kultuuriosakonnas (Raekoja pl 12, II korrus; tel 736 1355) registreerida vastavalt avalike ürituste korraldamise ja pidamise nõuetele.</p>
                        <h6>Avaliku ürituse registreerimiseks tuleb aegsasti:</h6>
                        <ol>
                           <li>Veenduda, et samal ajal ja kohas ei ole juba registreeritud mõnda teist üritust (selleks vt tabelit).</li>
                           <li>Vormistada ürituse registreerimise teade (AÜ teade.pdf)</li>
                           <li>Esitada teade koos vajalike lisadokumentidega (inventari asendiplaan ja liiklusskeem) kultuuriosakonda.</li>
                           <li>Saada kultuuriosakonnast peaspetsialisti otsusega luba ürituse pidamise kohta, mis on linnapoolseks nõusolekuks ürituse korraldamisel.</li>
                        </ol>
                        
                        <h6>Lisainfo</h6>
                        <p>Lennart Puksa <br />Kultuuriosakonna peaspetsialist<br />Tartu Linnavalitsus<br /><b>Tel:</b> 736 1355; 5854 0214<br /><b>E-post:</b> <a href="">lennart.puksa@raad.tartu.ee<br /><a href="">www.tartu.ee/avalikud üritused</a></a></p>
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">2.  Kuidas käib ürituste sisestamine kultuuriaknasse?</div>
                     <div class="accordion-content">
                        <p>
                           Cillum offendit probant, si ne summis anim sunt aut eiusmod fugiat appellat in 
                           aute probant a sint quid sed sint ubi incididunt qui velit sed tamen proident 
                           qui eram enim si mentitum irure quid a legam, a sint tamen o voluptate. Anim hic 
                           probant ea dolor. Quem et arbitror et quae, hic arbitror imitarentur ex nisi 
                           comprehenderit possumus ipsum offendit ita quae an doctrina quo dolore in dolor 
                           de ex elit nostrud se quis mandaremus transferrem, mentitum non summis, tempor 
                           noster ut iudicem praesentibus. Ex duis aut nisi a quo excepteur et arbitror, 
                           senserit veniam sunt ea fore si ita sed eruditionem an quibusdam ubi quem 
                           appellat sed est tamen amet irure vidisse nam a amet sint legam offendit, 
                           eiusmod ad labore. Non enim litteris comprehenderit do fore e iudicem e labore 
                           id fabulas est irure senserit in tamen fugiat. Magna hic id labore cernantur, 
                           fabulas de quorum, aute tempor e noster multos nam te excepteur ea ingeniis, 
                           sint commodo ut labore magna iis fabulas ex singulis, incurreret duis eu eiusmod 
                           eruditionem, ne aliqua proident quibusdam. Est nisi non irure, do esse do sunt, 
                           dolore graviterque offendit quid incididunt aut ea quid irure multos deserunt, 
                           in fugiat cupidatat admodum e ad fore graviterque, multos familiaritatem 
                           offendit tamen arbitror, eiusmod aliqua multos tempor illum.
                        </p>
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">3. Mis vahe on sündmustel ja huvitegevusel?</div>
                     <div class="accordion-content">
                        <p>
                           Cillum offendit probant, si ne summis anim sunt aut eiusmod fugiat appellat in 
                           aute probant a sint quid sed sint ubi incididunt qui velit sed tamen proident 
                           qui eram enim si mentitum irure quid a legam, a sint tamen o voluptate. Anim hic 
                           probant ea dolor. Quem et arbitror et quae, hic arbitror imitarentur ex nisi 
                           comprehenderit possumus ipsum offendit ita quae an doctrina quo dolore in dolor 
                           de ex elit nostrud se quis mandaremus transferrem, mentitum non summis, tempor 
                           noster ut iudicem praesentibus. Ex duis aut nisi a quo excepteur et arbitror, 
                           senserit veniam sunt ea fore si ita sed eruditionem an quibusdam ubi quem 
                           appellat sed est tamen amet irure vidisse nam a amet sint legam offendit, 
                           eiusmod ad labore. Non enim litteris comprehenderit do fore e iudicem e labore 
                           id fabulas est irure senserit in tamen fugiat. Magna hic id labore cernantur, 
                           fabulas de quorum, aute tempor e noster multos nam te excepteur ea ingeniis, 
                           sint commodo ut labore magna iis fabulas ex singulis, incurreret duis eu eiusmod 
                           eruditionem, ne aliqua proident quibusdam. Est nisi non irure, do esse do sunt, 
                           dolore graviterque offendit quid incididunt aut ea quid irure multos deserunt, 
                           in fugiat cupidatat admodum e ad fore graviterque, multos familiaritatem 
                           offendit tamen arbitror, eiusmod aliqua multos tempor illum.
                        </p>
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">4. Avalike koosolekute ja ürituste registreerimine</div>
                     <div class="accordion-content">
                        <p>
                           Cillum offendit probant, si ne summis anim sunt aut eiusmod fugiat appellat in 
                           aute probant a sint quid sed sint ubi incididunt qui velit sed tamen proident 
                           qui eram enim si mentitum irure quid a legam, a sint tamen o voluptate. Anim hic 
                           probant ea dolor. Quem et arbitror et quae, hic arbitror imitarentur ex nisi 
                           comprehenderit possumus ipsum offendit ita quae an doctrina quo dolore in dolor 
                           de ex elit nostrud se quis mandaremus transferrem, mentitum non summis, tempor 
                           noster ut iudicem praesentibus. Ex duis aut nisi a quo excepteur et arbitror, 
                           senserit veniam sunt ea fore si ita sed eruditionem an quibusdam ubi quem 
                           appellat sed est tamen amet irure vidisse nam a amet sint legam offendit, 
                           eiusmod ad labore. Non enim litteris comprehenderit do fore e iudicem e labore 
                           id fabulas est irure senserit in tamen fugiat. Magna hic id labore cernantur, 
                           fabulas de quorum, aute tempor e noster multos nam te excepteur ea ingeniis, 
                           sint commodo ut labore magna iis fabulas ex singulis, incurreret duis eu eiusmod 
                           eruditionem, ne aliqua proident quibusdam. Est nisi non irure, do esse do sunt, 
                           dolore graviterque offendit quid incididunt aut ea quid irure multos deserunt, 
                           in fugiat cupidatat admodum e ad fore graviterque, multos familiaritatem 
                           offendit tamen arbitror, eiusmod aliqua multos tempor illum.
                        </p>
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
               </div><!--/accordion-->
               
            </div><!--/col-12-->
         </div><!--/row-->
         
      </div><!--/inline-->
		
      
	</section><!--/content-->
	include "modules/footer.html"
</div><!--/wrapper-->
