include "modules/head.html"
<div class="wrapper">
	
	include "modules/header.html"
	
	<section class="content">
      <div class="inline">
         
         <div class="row sm-hide">
            <div class="col-12">
               include "modules/breadcrumbs.html"
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <h1>Korraldajale</h1>
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-6">
               <h3>Minu huvitegevused (157)</h3>
            </div><!--/col-6-->
            <div class="col-6 text-right">
               <a href="" class="btn">Lisa uus huvitegevus</a>
            </div><!--/col-6-->
         </div><!--/row-->
         
         <div class="row customWidths-1">
            <div class="col-6">
               <div class="form-item rounded-corners">
                  <i class="after-search"></i>
                  <div class="form-item_title">&nbsp;</div>
                  <input type="text" placeholder="Otsi huvitegevust nime, koha järgi" />
               </div><!--/form-item-->
            </div><!--/col-6-->
            
            <div class="col-2">
               <div class="form-item rounded-corners">
                  <i class="after-calendar"></i>
                  <div class="form-item_title">&nbsp;</div>
                  <input type="text" placeholder="21.10.2016-28.10.2016" data-plugin="datepickerRange" />
               </div><!--/form-item-->
            </div><!--/col-2-->
            
            <div class="col-2">
               <div class="form-item">
                  <div class="form-item_title">Filtreeri</div>
                  <select data-plugin="SumoSelect">
                     <option>Valdkond</option>
                     <option>Valdkond 1</option>
                     <option>Valdkond 2</option>
                     <option>Valdkond 3</option>
                     <option>Valdkond 4</option>
                     <option>Valdkond 5</option>
                  </select>
               </div><!--/form-item-->
            </div><!--/col-2-->
            
            <div class="col-2">
               <div class="form-item">
                  <div class="form-item_title">Filtreeri</div>
                  <select data-plugin="SumoSelect">
                     <option>Staatus</option>
                     <option>Staatus 1</option>
                     <option>Staatus 2</option>
                     <option>Staatus 3</option>
                     <option>Staatus 4</option>
                     <option>Staatus 5</option>
                  </select>
               </div><!--/form-item-->
            </div><!--/col-2-->
         </div><!--/row-->
         
         <div class="row pull-up">
            <div class="col-12">
               <table class="main statuses" data-plugin="sortTable">
                  <thead>
                     <tr>
                        <th></th>
                        <th>
                           <label>
                              <span class="customCheckbox">
                                 <input name="checkAll" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                        </th>
                        <th>Nimi</th>
                        <th data-sort="true">Toimumisaeg  <i class="before-arrow_up"></i></th>
                        <th>Toimumise koht</th>
                        <th>Valdkond</th>
                        <th>Staatus</th>
                        <th></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="status-ok">
                        <td></td>
                        <td>
                           <label>
                              <span class="customCheckbox">
                                 <input name="row[1]" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                        </td>
                        <td><b>Meister ja Margarita</b></td>
                        <td>18.11 - 21.11.2016</td>
                        <td>Teater Vanemuine</td>
                        <td>Teater</td>
                        <td>Pooleli</td>
                        <td>
                           <div class="link after-arrow_down" title="#tegevused_1" rel="interact" data-addonclass="linkList">Tegevused</div>
                           <div id="tegevused_1" class="title-content">
                              <a href="" class="link secondary">Lisa sama</a>
                              <a href="" class="link secondary">Lisa alamsündmus</a>
                              <a href="" class="link secondary">Kustuta</a>
                           </div><!--/title-content-->
                        </td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>
                           <label>
                              <span class="customCheckbox">
                                 <input name="row[2]" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                        </td>
                        <td>Pähklipureja 1</td>
                        <td>17.11 - 21.11.2016</td>
                        <td>Teater Vanemuine</td>
                        <td>Teater</td>
                        <td>Avaldatud</td>
                        <td>
                           <div class="link after-arrow_down" title="#tegevused_3" rel="interact" data-addonclass="linkList">Tegevused</div>
                           <div id="tegevused_3" class="title-content">
                              <a href="" class="link secondary">Lisa sama</a>
                              <a href="" class="link secondary">Lisa alamsündmus</a>
                              <a href="" class="link secondary">Kustuta</a>
                           </div><!--/title-content-->
                        </td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>
                           <label>
                              <span class="customCheckbox">
                                 <input name="row[3]" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                        </td>
                        <td>Pähklipureja 2</td>
                        <td>16.11 - 21.11.2016</td>
                        <td>Teater Vanemuine</td>
                        <td>Teater</td>
                        <td>Avaldatud</td>
                        <td>
                           <div class="link after-arrow_down" title="#tegevused_4" rel="interact" data-addonclass="linkList">Tegevused</div>
                           <div id="tegevused_4" class="title-content">
                              <a href="" class="link secondary">Lisa sama</a>
                              <a href="" class="link secondary">Lisa alamsündmus</a>
                              <a href="" class="link secondary">Kustuta</a>
                           </div><!--/title-content-->
                        </td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>
                           <label>
                              <span class="customCheckbox">
                                 <input name="row[4]" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                        </td>
                        <td>Pähklipureja 3</td>
                        <td>14.11 - 21.11.2016</td>
                        <td>Teater Vanemuine</td>
                        <td>Teater</td>
                        <td>Avaldatud</td>
                        <td>
                           <div class="link after-arrow_down" title="#tegevused_5" rel="interact" data-addonclass="linkList">Tegevused</div>
                           <div id="tegevused_5" class="title-content">
                              <a href="" class="link secondary">Lisa sama</a>
                              <a href="" class="link secondary">Lisa alamsündmus</a>
                              <a href="" class="link secondary">Kustuta</a>
                           </div><!--/title-content-->
                        </td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>
                           <label>
                              <span class="customCheckbox">
                                 <input name="row[5]" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                        </td>
                        <td>Pähklipureja 4</td>
                        <td>13.11 - 21.11.2016</td>
                        <td>Teater Vanemuine</td>
                        <td>Teater</td>
                        <td>Avaldatud</td>
                        <td>
                           <div class="link after-arrow_down" title="#tegevused_6" rel="interact" data-addonclass="linkList">Tegevused</div>
                           <div id="tegevused_6" class="title-content">
                              <a href="" class="link secondary">Lisa sama</a>
                              <a href="" class="link secondary">Lisa alamsündmus</a>
                              <a href="" class="link secondary">Kustuta</a>
                           </div><!--/title-content-->
                        </td>
                     </tr>
                     
                     
                  </tbody>
               </table>
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row pull-up">
            <div class="col-12">
               <center>
                  <a href="" class="link after-arrow_down">Kuva kõik minu huvitegevused (167)</a>
               </center>
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-6">
               <h3>Minu sündmused (370)</h3>
            </div><!--/col-6-->
            <div class="col-6 text-right">
               <a href="" class="btn">Lisa uus sündmus</a>
            </div><!--/col-6-->
         </div><!--/row-->
         
         <div class="row customWidths-1">
            <div class="col-6">
               <div class="form-item rounded-corners">
                  <i class="after-search"></i>
                  <div class="form-item_title">&nbsp;</div>
                  <input type="text" placeholder="Otsi huvitegevust nime, koha järgi" />
               </div><!--/form-item-->
            </div><!--/col-6-->
            
            <div class="col-2">
               <div class="form-item rounded-corners">
                  <i class="after-calendar"></i>
                  <div class="form-item_title">&nbsp;</div>
                  <input type="text" placeholder="21.10.2016-28.10.2016" data-plugin="datepickerRange" />
               </div><!--/form-item-->
            </div><!--/col-2-->
            
            <div class="col-2">
               <div class="form-item">
                  <div class="form-item_title">Filtreeri</div>
                  <select data-plugin="SumoSelect">
                     <option>Valdkond</option>
                     <option>Valdkond 1</option>
                     <option>Valdkond 2</option>
                     <option>Valdkond 3</option>
                     <option>Valdkond 4</option>
                     <option>Valdkond 5</option>
                  </select>
               </div><!--/form-item-->
            </div><!--/col-2-->
            
            <div class="col-2">
               <div class="form-item">
                  <div class="form-item_title">Filtreeri</div>
                  <select data-plugin="SumoSelect">
                     <option>Staatus</option>
                     <option>Staatus 1</option>
                     <option>Staatus 2</option>
                     <option>Staatus 3</option>
                     <option>Staatus 4</option>
                     <option>Staatus 5</option>
                  </select>
               </div><!--/form-item-->
            </div><!--/col-2-->
         </div><!--/row-->
         
         <div class="row pull-up">
            <div class="col-12">
               <table class="main statuses" data-plugin="sortTable">
                  <thead>
                     <tr>
                        <th></th>
                        <th>
                           <label>
                              <span class="customCheckbox">
                                 <input name="checkAll" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                        </th>
                        <th>Nimi</th>
                        <th data-sort="true">Toimumisaeg <i class="before-arrow_up"></i></th>
                        <th>Toimumise koht</th>
                        <th>Valdkond</th>
                        <th>Staatus</th>
                        <th></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="status-ok">
                        <td></td>
                        <td>
                           <label>
                              <span class="customCheckbox">
                                 <input name="row[1]" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                        </td>
                        <td><b>Meister ja Margarita</b></td>
                        <td>18.21 - 21.11.2016</td>
                        <td>Teater Vanemuine</td>
                        <td>Teater</td>
                        <td>Pooleli</td>
                        <td>
                           <div class="link after-arrow_down" title="#tegevused_8" rel="interact" data-addonclass="linkList">Tegevused</div>
                           <div id="tegevused_8" class="title-content">
                              <a href="" class="link secondary">Lisa sama</a>
                              <a href="" class="link secondary">Lisa alamsündmus</a>
                              <a href="" class="link secondary">Kustuta</a>
                           </div><!--/title-content-->
                        </td>
                     </tr>
                     <tr class="subRow">
                        <td></td>
                        <td>
                        </td>
                        <td>
                           <label>
                              <span class="customCheckbox">
                                 <input name="row[1]" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                           Alam sündmus</td>
                        <td>18.11 - 21.11.2016</td>
                        <td>Teater Vanemuine</td>
                        <td>Teater</td>
                        <td>Pooleli</td>
                        <td>
                           <div class="link after-arrow_down" title="#tegevused_2" rel="interact" data-addonclass="linkList">Tegevused</div>
                           <div id="tegevused_2" class="title-content">
                              <a href="" class="link secondary">Lisa sama</a>
                              <a href="" class="link secondary">Lisa alamsündmus</a>
                              <a href="" class="link secondary">Kustuta</a>
                           </div><!--/title-content-->
                        </td>
                     </tr>
                     <tr class="subRow">
                        <td></td>
                        <td>
                        </td>
                        <td>
                           <label>
                              <span class="customCheckbox">
                                 <input name="row[1]" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                           Alam sündmus</td>
                        <td>18.11 - 21.11.2016</td>
                        <td>Teater Vanemuine</td>
                        <td>Teater</td>
                        <td>Pooleli</td>
                        <td>
                           <div class="link after-arrow_down" title="#tegevused_2" rel="interact" data-addonclass="linkList">Tegevused</div>
                           <div id="tegevused_2" class="title-content">
                              <a href="" class="link secondary">Lisa sama</a>
                              <a href="" class="link secondary">Lisa alamsündmus</a>
                              <a href="" class="link secondary">Kustuta</a>
                           </div><!--/title-content-->
                        </td>
                     </tr>
                     <tr class="subRow">
                        <td></td>
                        <td>
                        </td>
                        <td>
                           <label>
                              <span class="customCheckbox">
                                 <input name="row[1]" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                           Alam sündmus</td>
                        <td>18.11 - 21.11.2016</td>
                        <td>Teater Vanemuine</td>
                        <td>Teater</td>
                        <td>Pooleli</td>
                        <td>
                           <div class="link after-arrow_down" title="#tegevused_2" rel="interact" data-addonclass="linkList">Tegevused</div>
                           <div id="tegevused_2" class="title-content">
                              <a href="" class="link secondary">Lisa sama</a>
                              <a href="" class="link secondary">Lisa alamsündmus</a>
                              <a href="" class="link secondary">Kustuta</a>
                           </div><!--/title-content-->
                        </td>
                     </tr>
                     <tr>
                        <td></td>
                        <td>
                           <label>
                              <span class="customCheckbox">
                                 <input name="row[2]" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                        </td>
                        <td>Pähklipureja 1</td>
                        <td>18.11 - 21.11.2016</td>
                        <td>Teater Vanemuine</td>
                        <td>Teater</td>
                        <td>Avaldatud</td>
                        <td>
                           <div class="link after-arrow_down" title="#tegevused_9" rel="interact" data-addonclass="linkList">Tegevused</div>
                           <div id="tegevused_9" class="title-content">
                              <a href="" class="link secondary">Lisa sama</a>
                              <a href="" class="link secondary">Lisa alamsündmus</a>
                              <a href="" class="link secondary">Kustuta</a>
                           </div><!--/title-content-->
                        </td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>
                           <label>
                              <span class="customCheckbox">
                                 <input name="row[3]" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                        </td>
                        <td>Pähklipureja 2</td>
                        <td>18.11 - 21.11.2016</td>
                        <td>Teater Vanemuine</td>
                        <td>Teater</td>
                        <td>Avaldatud</td>
                        <td>
                           <div class="link after-arrow_down" title="#tegevused_10" rel="interact" data-addonclass="linkList">Tegevused</div>
                           <div id="tegevused_10" class="title-content">
                              <a href="" class="link secondary">Lisa sama</a>
                              <a href="" class="link secondary">Lisa alamsündmus</a>
                              <a href="" class="link secondary">Kustuta</a>
                           </div><!--/title-content-->
                        </td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>
                           <label>
                              <span class="customCheckbox">
                                 <input name="row[4]" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                        </td>
                        <td>Pähklipureja 3</td>
                        <td>18.11 - 21.11.2016</td>
                        <td>Teater Vanemuine</td>
                        <td>Teater</td>
                        <td>Avaldatud</td>
                        <td>
                           <div class="link after-arrow_down" title="#tegevused_11" rel="interact" data-addonclass="linkList">Tegevused</div>
                           <div id="tegevused_11" class="title-content">
                              <a href="" class="link secondary">Lisa sama</a>
                              <a href="" class="link secondary">Lisa alamsündmus</a>
                              <a href="" class="link secondary">Kustuta</a>
                           </div><!--/title-content-->
                        </td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>
                           <label>
                              <span class="customCheckbox">
                                 <input name="row[5]" type="checkbox">
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                           </label>
                        </td>
                        <td>Pähklipureja 4</td>
                        <td>18.11 - 21.11.2016</td>
                        <td>Teater Vanemuine</td>
                        <td>Teater</td>
                        <td>Avaldatud</td>
                        <td>
                           <div class="link after-arrow_down" title="#tegevused_12" rel="interact" data-addonclass="linkList">Tegevused</div>
                           <div id="tegevused_12" class="title-content">
                              <a href="" class="link secondary">Lisa sama</a>
                              <a href="" class="link secondary">Lisa alamsündmus</a>
                              <a href="" class="link secondary">Kustuta</a>
                           </div><!--/title-content-->
                        </td>
                     </tr>
                     
                     
                  </tbody>
               </table>
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row pull-up">
            <div class="col-12">
               <center>
                  <a href="" class="link after-arrow_down">Kuva kõik minu sündmused (370)</a>
               </center>
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <h3>Info ürituse korraldajale</h3>
               
               <div class="accordion" data-plugin="accordion">
                  <div class="accordion-entry">
                     <div class="accordion-title">1.&nbsp; Milliseid üritusi võib Kultuuriaknasse sisestada?</div>
                     <div class="accordion-content">
                        <p>Soovides korraldada Tartus avalikku üritust on eelnevalt vajalik see linnavalitsuse kultuuriosakonnas (Raekoja pl 12, II korrus; tel 736 1355) registreerida vastavalt avalike ürituste korraldamise ja pidamise nõuetele.</p>
                        <h6>Avaliku ürituse registreerimiseks tuleb aegsasti:</h6>
                        <ol>
                           <li>Veenduda, et samal ajal ja kohas ei ole juba registreeritud mõnda teist üritust (selleks vt tabelit).</li>
                           <li>Vormistada ürituse registreerimise teade (AÜ teade.pdf)</li>
                           <li>Esitada teade koos vajalike lisadokumentidega (inventari asendiplaan ja liiklusskeem) kultuuriosakonda.</li>
                           <li>Saada kultuuriosakonnast peaspetsialisti otsusega luba ürituse pidamise kohta, mis on linnapoolseks nõusolekuks ürituse korraldamisel.</li>
                        </ol>
                        
                        <h6>Lisainfo</h6>
                        <p>Lennart Puksa <br>Kultuuriosakonna peaspetsialist<br>Tartu Linnavalitsus<br><b>Tel:</b> 736 1355; 5854 0214<br><b>E-post:</b> <a href="">lennart.puksa@raad.tartu.ee<br></a><a href="">www.tartu.ee/avalikud üritused</a></p>
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">2.&nbsp; Kuidas käib ürituste sisestamine kultuuriaknasse?</div>
                     <div class="accordion-content">
                        <p>
                           Cillum offendit probant, si ne summis anim sunt aut eiusmod fugiat appellat in 
                           aute probant a sint quid sed sint ubi incididunt qui velit sed tamen proident 
                           qui eram enim si mentitum irure quid a legam, a sint tamen o voluptate. Anim hic 
                           probant ea dolor. Quem et arbitror et quae, hic arbitror imitarentur ex nisi 
                           comprehenderit possumus ipsum offendit ita quae an doctrina quo dolore in dolor 
                           de ex elit nostrud se quis mandaremus transferrem, mentitum non summis, tempor 
                           noster ut iudicem praesentibus. Ex duis aut nisi a quo excepteur et arbitror, 
                           senserit veniam sunt ea fore si ita sed eruditionem an quibusdam ubi quem 
                           appellat sed est tamen amet irure vidisse nam a amet sint legam offendit, 
                           eiusmod ad labore. Non enim litteris comprehenderit do fore e iudicem e labore 
                           id fabulas est irure senserit in tamen fugiat. Magna hic id labore cernantur, 
                           fabulas de quorum, aute tempor e noster multos nam te excepteur ea ingeniis, 
                           sint commodo ut labore magna iis fabulas ex singulis, incurreret duis eu eiusmod 
                           eruditionem, ne aliqua proident quibusdam. Est nisi non irure, do esse do sunt, 
                           dolore graviterque offendit quid incididunt aut ea quid irure multos deserunt, 
                           in fugiat cupidatat admodum e ad fore graviterque, multos familiaritatem 
                           offendit tamen arbitror, eiusmod aliqua multos tempor illum.
                        </p>
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">3. Mis vahe on sündmustel ja huvitegevusel?</div>
                     <div class="accordion-content">
                        <p>
                           Cillum offendit probant, si ne summis anim sunt aut eiusmod fugiat appellat in 
                           aute probant a sint quid sed sint ubi incididunt qui velit sed tamen proident 
                           qui eram enim si mentitum irure quid a legam, a sint tamen o voluptate. Anim hic 
                           probant ea dolor. Quem et arbitror et quae, hic arbitror imitarentur ex nisi 
                           comprehenderit possumus ipsum offendit ita quae an doctrina quo dolore in dolor 
                           de ex elit nostrud se quis mandaremus transferrem, mentitum non summis, tempor 
                           noster ut iudicem praesentibus. Ex duis aut nisi a quo excepteur et arbitror, 
                           senserit veniam sunt ea fore si ita sed eruditionem an quibusdam ubi quem 
                           appellat sed est tamen amet irure vidisse nam a amet sint legam offendit, 
                           eiusmod ad labore. Non enim litteris comprehenderit do fore e iudicem e labore 
                           id fabulas est irure senserit in tamen fugiat. Magna hic id labore cernantur, 
                           fabulas de quorum, aute tempor e noster multos nam te excepteur ea ingeniis, 
                           sint commodo ut labore magna iis fabulas ex singulis, incurreret duis eu eiusmod 
                           eruditionem, ne aliqua proident quibusdam. Est nisi non irure, do esse do sunt, 
                           dolore graviterque offendit quid incididunt aut ea quid irure multos deserunt, 
                           in fugiat cupidatat admodum e ad fore graviterque, multos familiaritatem 
                           offendit tamen arbitror, eiusmod aliqua multos tempor illum.
                        </p>
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
                  <div class="accordion-entry">
                     <div class="accordion-title">4. Avalike koosolekute ja ürituste registreerimine</div>
                     <div class="accordion-content">
                        <p>
                           Cillum offendit probant, si ne summis anim sunt aut eiusmod fugiat appellat in 
                           aute probant a sint quid sed sint ubi incididunt qui velit sed tamen proident 
                           qui eram enim si mentitum irure quid a legam, a sint tamen o voluptate. Anim hic 
                           probant ea dolor. Quem et arbitror et quae, hic arbitror imitarentur ex nisi 
                           comprehenderit possumus ipsum offendit ita quae an doctrina quo dolore in dolor 
                           de ex elit nostrud se quis mandaremus transferrem, mentitum non summis, tempor 
                           noster ut iudicem praesentibus. Ex duis aut nisi a quo excepteur et arbitror, 
                           senserit veniam sunt ea fore si ita sed eruditionem an quibusdam ubi quem 
                           appellat sed est tamen amet irure vidisse nam a amet sint legam offendit, 
                           eiusmod ad labore. Non enim litteris comprehenderit do fore e iudicem e labore 
                           id fabulas est irure senserit in tamen fugiat. Magna hic id labore cernantur, 
                           fabulas de quorum, aute tempor e noster multos nam te excepteur ea ingeniis, 
                           sint commodo ut labore magna iis fabulas ex singulis, incurreret duis eu eiusmod 
                           eruditionem, ne aliqua proident quibusdam. Est nisi non irure, do esse do sunt, 
                           dolore graviterque offendit quid incididunt aut ea quid irure multos deserunt, 
                           in fugiat cupidatat admodum e ad fore graviterque, multos familiaritatem 
                           offendit tamen arbitror, eiusmod aliqua multos tempor illum.
                        </p>
                     </div><!--/accordion-content-->
                  </div><!--/accordion-entry-->
                  
               </div><!--/accordion-->
               
            </div><!--/col-12-->
         </div><!--/row-->
         
      </div><!--/inline-->
		
      
	</section><!--/content-->
	include "modules/footer.html"
</div><!--/wrapper-->
