include "modules/head.html"
<div class="wrapper">
	include "modules/header.html"
	<section class="content">
		<div class="inline">
			
         <div class="row sm-hide">
            <div class="col-12">
               include "modules/breadcrumbs.html"
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <h1>Otsing</h1>
            </div><!--/col-12-->
         </div><!--/row-->
         
			<div class="row">
            <div class="col-10">
               <div class="form-item rounded-corners">
                  <input type="text" placeholder="Teater Vanemuine" />
               </div><!--/form-item-->
            </div><!--/col-10-->
            <div class="col-2">
               <button class="btn stretch">Otsi</button>
            </div><!--/col-2-->
         </div><!--/row-->
         
         
         <div class="row">
            <div class="col-12">
               <h3>“Teater Vanemuine” 255 tulemust:</h3>
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <div class="block">
                  <div class="search-filter">
                     <b>Filtreeri tulemusi:</b>
                     
                     <div class="form-item">
                        <label>
                           <span class="customCheckbox">
                              <input name="name2" type="checkbox">
                              <span class="indicator"></span>
                           </span><!--/customRadio-->
                           <span class="label-title">Sündmused (205)</span>
                        </label>
                     </div><!--/form-item-->
                     
                     <div class="form-item">
                        <label>
                           <span class="customCheckbox">
                              <input name="name2" type="checkbox">
                              <span class="indicator"></span>
                           </span><!--/customRadio-->
                           <span class="label-title">Huvitegevused (0)</span>
                        </label>
                     </div><!--/form-item-->
                     
                     <div class="form-item">
                        <label>
                           <span class="customCheckbox">
                              <input name="name2" type="checkbox">
                              <span class="indicator"></span>
                           </span><!--/customRadio-->
                           <span class="label-title">Artiklid (50)</span>
                        </label>
                     </div><!--/form-item-->
                     
                     <a href="" class="link secondary after-close pull-right">Tühista otsing</a>
                  </div><!--/search-filter-->
               </div><!--/block-->
            </div><!--/col-12-->
         </div><!--/row-->
			
         <div class="row">
            <div class="col-12">
               <h3>Sündmused (205)</h3>
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <div class="list-view">
                  include "modules/search-list.html"
               </div><!--/list-view-->
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <center>
                  <a href="" class="link after-arrow_down">Laadi veel sündmusi  (205)</a>
               </center>
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <h3>Huvitegevused (0)</h3>
               <p>Otsing Teater Vanemuine  ei andnud ühtegi  tulemust.</p>
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <h3>Artiklid (50)</h3>
               <p>Otsing Teater Vanemuine  ei andnud ühtegi  tulemust.</p>
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <a href="" class="search-result">
                  <span class="search-result_title">Tartu populaarsemad teatrid</span>
                  <span class="search-result_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <b>Teater Vanemuine</b> blabla. Morbi dignissim augue rutrum nulla rhoncus mollis. Vivamus pulvinar vehicula nisi ut maximus. Aliquam sollicitudin lorem a nulla pulvinar, at sagittis erat ornare. Morbi rhoncus erat ac lorem feugiat efficitur. Aenean lobortis hendrerit iaculis.</span>
               </a><!--/search-result-->
               <a href="" class="search-result">
                  <span class="search-result_title">Tartu populaarsemad teatrid</span>
                  <span class="search-result_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <b>Teater Vanemuine</b> blabla. Morbi dignissim augue rutrum nulla rhoncus mollis. Vivamus pulvinar vehicula nisi ut maximus. Aliquam sollicitudin lorem a nulla pulvinar, at sagittis erat ornare. Morbi rhoncus erat ac lorem feugiat efficitur. Aenean lobortis hendrerit iaculis.</span>
               </a><!--/search-result-->
               <a href="" class="search-result">
                  <span class="search-result_title">Tartu populaarsemad teatrid</span>
                  <span class="search-result_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <b>Teater Vanemuine</b> blabla. Morbi dignissim augue rutrum nulla rhoncus mollis. Vivamus pulvinar vehicula nisi ut maximus. Aliquam sollicitudin lorem a nulla pulvinar, at sagittis erat ornare. Morbi rhoncus erat ac lorem feugiat efficitur. Aenean lobortis hendrerit iaculis.</span>
               </a><!--/search-result-->
               <a href="" class="search-result">
                  <span class="search-result_title">Tartu populaarsemad teatrid</span>
                  <span class="search-result_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <b>Teater Vanemuine</b> blabla. Morbi dignissim augue rutrum nulla rhoncus mollis. Vivamus pulvinar vehicula nisi ut maximus. Aliquam sollicitudin lorem a nulla pulvinar, at sagittis erat ornare. Morbi rhoncus erat ac lorem feugiat efficitur. Aenean lobortis hendrerit iaculis.</span>
               </a><!--/search-result-->
               <a href="" class="search-result">
                  <span class="search-result_title">Tartu populaarsemad teatrid</span>
                  <span class="search-result_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <b>Teater Vanemuine</b> blabla. Morbi dignissim augue rutrum nulla rhoncus mollis. Vivamus pulvinar vehicula nisi ut maximus. Aliquam sollicitudin lorem a nulla pulvinar, at sagittis erat ornare. Morbi rhoncus erat ac lorem feugiat efficitur. Aenean lobortis hendrerit iaculis.</span>
               </a><!--/search-result-->
            </div><!--/col-12-->
         </div><!--/row-->
         
         
         <div class="row">
				<div class="col-12">
					<ul class="pagination">
						<li><a href="" class="btn btn-plain-secondary before-arrow_left circle"></a></li>
						<li><a href="" class="btn btn-plain-secondary circle active">1</a></li>
						<li><a href="" class="btn btn-plain-secondary circle">2</a></li>
						<li><a href="" class="btn btn-plain-secondary circle">3</a></li>
						<li><a href="" class="btn btn-plain-secondary circle">4</a></li>
						<li><a href="" class="btn btn-plain-secondary circle">5</a></li>
						<li><a href="" class="btn btn-plain-secondary circle">6</a></li>
						<li class="dots">...</li>
						<li><a href="" class="btn btn-plain-secondary circle">10</a></li>
						<li><a href="" class="btn btn-plain-secondary before-arrow_right circle"></a></li>
					</ul>
				</div><!--/col-12-->
			</div>
         
		</div><!--/inline-->
		
	</section><!--/content-->
	include "modules/footer.html"
</div><!--/wrapper-->
