include "modules/head.html"
<div class="wrapper">
	
	include "modules/header.html"
	
	<section class="content">
      <div class="inline">
         <div class="row sm-hide">
            <div class="col-12">
               include "modules/breadcrumbs.html"
            </div><!--/col-12-->
         </div><!--/row-->
         <div class="row">
            <div class="col-12">
               <h1>Seaded</h1>
            </div><!--/col-12-->
         </div><!--/row-->
         
         <div class="row">
            <div class="col-12">
               <div class="block rounded">
                  <div class="row">
                     <div class="col-8">
                        <h3>Üldised seaded </h3>
                     </div><!--/col-8-->
                     <div class="col-4 text-right">
                        <a href="" class="link after-edit secondary">Muuda</a>
                     </div><!--/col-4-->
                  </div><!--/row-->
                  
                  <table class="infoTable">
                     <tr>
                        <td>Nimi</td>
                        <td>Sille Siilipere</td>
                     </tr>
                     <tr>
                        <td>Asutus</td>
                        <td>Teater Vanemuine</td>
                     </tr>
                     <tr>
                        <td>E-post</td>
                        <td>info@vanemuine.ee</td>
                     </tr>
                     <tr>
                        <td>Telefon</td>
                        <td>+372 53 123 456</td>
                     </tr>
                  </table>
                 
						<div class="row">
                     <div class="col-12">
                        <hr />   
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
                  
                  <div class="row">
                     <div class="col-12">
                        <h3>Konto kustutamine</h3>
                  
                        <p>Kultuuriakna konto kustutamiseks vajuta kustuta konto.<br />
                        Tegevus eemaldab ka kõik Sinu loodud sündmused  ja huvitegevused</p>
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
                  <div class="row">
                     <div class="col-12">

                        <a href="" class="btn btn-filled">Kustuta konto</a>
                     </div><!--/col-12-->
                  </div><!--/row-->
                  
               </div><!--/block-->
            </div><!--/col-3-->
         </div><!--/row-->
      </div><!--/inline-->
		
      
	</section><!--/content-->
	include "modules/footer.html"
</div><!--/wrapper-->
