<h1>Uue sündmuse lisamine</h1>
<p>Soovitame uue sündmuse lisamiseks sisse logida!<br />Anonüümses vaates ei ole kõiki sündmuste korraldajale mõeldud võimalusi.</p>
<p><b>Logides sisse, saad näiteks:</b></p>
<ul>
   <li>salvestada sündmusi mustandina</li>
   <li>jätta sisestamine pooleli, et hiljem vajalikud andmed lisada</li>
   <li>juba sisestatud sündmusi hiljem muuta ja parandada</li>
   <li>näha kõiki enda sisestatud sündmusi</li>
   <li>kasutada sisestatud sündmusi uute sündmuste põhjana</li>
</ul>

<div class="row">
   <div class="col-12">
      <center>
         <a href="" class="link secondary">Jätka anonüümsena</a>
         <a href="" class="btn">Logi sisse</a>
         
      </center>
      
   </div><!--/col-12-->
</div><!--/row-->
