html{
   &.textSize-1{font-size:20px;
      .inline{max-width:1800px;}
   }
   &.textSize-2{font-size:24px;
      .inline{max-width:100%;}
   }
   &.contrast-1{
      *{background-color:#000 !important; color:#fff !important; border-color:#fff !important;}
      a[href], a[href] *{color:yellow !important; border-color:yellow !important;
         &:hover, &:hover *{text-decoration:underline !important;}
      }
      
      *:before, *:after{color:yellow !important; background-color:#000 !important;}
      .customRadio .indicator{background:yellow !important;}
      .customCheckbox .indicator{background:yellow !important;}
      * img{background-color:transparent !important;}
      * .details{
         &:before{display: none !important;}
         &:after{display: none !important;}
      }
      .SumoSelect .CaptionCont::after{background-color:transparent !important;}
      .map{background-color:transparent !important;
         *{background-color:transparent !important;}
         .map-buttons .btn{background-color:#000 !important;}
      }
      
      .form-item{
         [class*='after-']{background-color:transparent !important;}
      }
      table.files tr + tr td{border-top-color:#000 !important;}
      .slider-range{
         .range, .knob{background-color:yellow !important;}
      }
      .block, table.main{border:yellow 2px solid !important;
         th{background:yellow !important; color:#000 !important;
            [class*='before-']{background:transparent !important;
               &:before{background:transparent !important; color:#000 !important;}
            }
            label{background-color:transparent !important;}
            .customRadio, .customCheckbox{
               .indicator{background-color:#000 !important; border:none !important;
                  &:before{background-color:transparent !important;}
               }
            }
         }
      }
   }
   
   * .accessibility-layer{background: transparent !important;}
   
   &.lineHeight-2x{
      .lineHeightProps(200%);
   }
   &.lineHeight-4x{
      .lineHeightProps(300%);
   }
   &.lineHeight-6x{
      .lineHeightProps(400%);
   }
   
   .slider-range .knob span{line-height:100% !important;}
}

.lineHeightProps(@size){
   article{
      p{line-height:@size !important;}
   }
   h1,h2,h3,h4,h5,h6,p,blockquote, table, .search-result, ul, ol, .calendar-entry{line-height:@size !important;}
}