article{padding-right:@grid-padding*2;
   p{line-height:185%; margin:2rem 0;}
   h5{margin:2rem 0 0.5rem 0;
      &+p{margin-top:0;}
   }
   
   .row + h5{margin-top:1rem;}
   
   .text-wrapper{
   }
}