h1,h2,h3,h4,h5,h6{font-weight: 900; line-height:120%; font-weight: 900;
	&:first-child{margin-top:0;}
	&:last-child{margin-bottom:0;}
	.link.pull-right{font-size:1.13rem;
		&:before{margin-right:0.63rem;}
		&:after{margin-left:0.63rem;}
	}
   
   &.no-margin{margin:0;}
   //.info-text{font-weight: normal; margin-left:0.56rem; font-size:1.13rem; display: inline-block; vertical-align: top; color:@highlight-1;}
   //.danger + .info-text{color:@notification-danger;}
   &.half-margin{margin-bottom:0.9rem; margin-top:2.1rem;
      &:first-child{margin-top:0;}
      &+p{margin-top:0.5rem;}
   }
}

h1{font-size:2.5rem;}
h2{font-size:2.25rem; color:@text-1;}
h3{font-size:1.88rem; color:@text-1; margin:1.25rem 0;
   .circle-icon{margin-top:0.1rem;}
}
h4{font-size:1.63rem; margin:2.5rem 0 1.25rem 0; color:@text-1;}

h5{font-size:1.5rem;}
h6{font-size:1.13rem; margin:@grid-padding*2 0 0 0;
   &+.form-item{margin-top:@grid-padding*2;}
}

p{line-height:150%;
	&:first-child{margin-top:0;}
	&:last-child{margin-bottom:0;}
   &.lineHeight-2x{line-height:185%;}
   &.size-xl{font-size:1.38rem;}
}

ol{padding:0; margin:@grid-padding 0; counter-reset: item;
   
	li{position:relative; padding:0 0 0 1.56rem; margin:1rem 0; list-style:none; counter-increment: item;
		&:before{position: absolute; top:0; left:0; width:1.56rem; content: counters(item, ".") ". "; color:@highlight-2; font-weight: bold;}
	}
}

ul{padding:0; margin:@grid-padding 0; 
	li{position:relative; padding:0 0 0 1.56rem; margin:1rem 0; list-style:none;
		&:before{position: absolute; top:0.5rem; left:0; width:0.31rem; height:0.31rem; background:@highlight-2; .border-radius(1rem); content:" "; display: block;} 
	}
}

h1,h2,h3,h4,h5,h6,p{
	a{color:@highlight-1; font-weight: bold; text-decoration: none;
		&:hover{color:@highlight-1-hover; text-decoration: underline;}
		&:before{margin-right:0.3rem; display: inline-block; text-decoration: none; font-weight: normal;}
		&:after{margin-left:0.3rem; display: inline-block; text-decoration: none; font-weight: normal;}
		&.link{
			&:before{margin-right:0.3rem;}
			&:after{margin-left:0.3rem;}
		}
	}
}

hr{border:none; height:2px; background:@border-1; overflow: hidden; margin:@grid-padding 0;
   &:first-child{margin-top:0;}
   &:last-child{margin-bottom:0;}
}

.btn{display: inline-block; font-weight: bold; padding:0.81rem 1.75rem; text-decoration: none; color:@text-2; line-height:120%; .border-radius(10rem); background:@highlight-1; border:@highlight-1 2px solid; font-size:1rem; cursor: pointer;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent;
   transition:color 0.25s, background 0.25s, border-color 0.25s;
	&:hover{background:@highlight-1-hover; border-color:@highlight-1-hover; color:@text-2;}
	
	&+.btn, &+.link{margin-left:2.5rem;}
   
   &.half-margin+.btn{margin-left:0.94rem;}
	&.btn-inactive{background:@base-2; border-color:@base-2;
		&:hover, &.active{background:@base-1; border-color:@base-1;}
	}
	&.btn-filled{background:@base-3; color:@highlight-1;
		&:hover, &.active{border-color:@highlight-1-hover; color:@highlight-1-hover;}
	}
	&.btn-empty{background:transparent; color:@highlight-1;
		&:hover, &.active{background:@highlight-1-light; border-color:@highlight-1-light; color:@text-2;}
	}
	&.btn-inverted{background:rgba(255,255,255,0.2); color:@text-2; border-color:@text-2;
		&:hover, &.active{background:@text-2; color:@text-1;}
	}
	&.btn-plain{background:@base-3; color:@text-4; border-color:@base-3;
		&:hover, &.active{border-color:@highlight-1; color:@highlight-1;}
	}
	&.btn-plain-secondary{background:@base-3; color:@text-3; border-color:@base-3;
		&:hover{border-color:@highlight-2; color:@highlight-2;}
		&.active{border-color:@highlight-2; color:@text-2; background:@highlight-2;}
	}
	&.btn-text-only{border-color:transparent; background:transparent; color:@text-4; position: relative;
		&:after{position: absolute; bottom:0.3rem; left:50%; right:50%; height:2px; background:@highlight-1; overflow: hidden; content:" ";
			transition:left 0.25s, right 0.25s, bottom 0.25s;
		}
		
		&:hover, &.active{color:@text-3;
			&:after{bottom:0.5rem; left:1.75rem; right:1.75rem;}
		}
	}
   
   &.btn-disabled{background:@text-4; border-color:@text-4; color:@text-2;
		&:hover, &.active{background:darken(@text-4, 5); border-color:darken(@text-4, 5);}
	}
	
	&.btn-none{background:none; color:@text-1; border-color:transparent;}
	
	&:before, &:after{font-weight: normal;}
	
	&[class*='before-']{ &:before{margin-right:0.5rem;} }
	&[class*='after-']{ &:after{margin-left:0.5rem;} }
	&.circle{padding-left:0; padding-right:0; text-align: center; width:3.13rem;
		&:before{margin:0;}
		&:after{margin:0;}
	}
   
   
   &.stretch{display: block; width:100%; text-align: center;}
   &.min-width{min-width:11.25rem;}
   &.full-width{display: block; width:100%; margin:@grid-padding 0 0 0; text-align: center;}
   &.before-facebook{background:#3E5193; border-color:#3E5193;
      &:before{display: inline-block; border-right:rgba(255,255,255, 0.2) 2px solid; padding-right:0.88rem; margin-left:-0.6rem;}
      &:hover{background:darken(#3E5193, 10); border-color:darken(#3E5193, 10);}
   }
   
   &.before-google{background:#DD4B39; border-color:#DD4B39;
      &:before{display: inline-block; border-right:rgba(255,255,255, 0.2) 2px solid; padding-right:0.88rem; margin-left:-0.6rem;}
      &:hover{background:darken(#DD4B39, 10); border-color:darken(#DD4B39, 10);}
   }
   
   &.before-twitter{background:#1DA1F2; border-color:#1DA1F2;
      &:before{display: inline-block; border-right:rgba(255,255,255, 0.2) 2px solid; padding-right:0.88rem; margin-left:-0.6rem;}
      &:hover{background:darken(#1DA1F2, 10); border-color:darken(#1DA1F2, 10);}
   }
   
   &.after-arrow_down{
      &:after{font-size:0.63rem; vertical-align: top;}
   }
   
   &.circle{
      &+.btn.circle{margin-left:@grid-padding;}
      &.before-googleplus, &.before-facebook, &.before-twitter{
         &:before{border:none; padding:0; margin:0;}
      }
   }
   &.marginBottom{margin-bottom:1rem;}
}

.customInput{
   input:checked+.btn, input:hover+.btn{
      &.btn-inactive{background:@base-1; border-color:@base-1;}
      &.btn-filled{border-color:@highlight-1-hover; color:@highlight-1-hover;}
      &.btn-empty{background:@highlight-1-light; border-color:@highlight-1-light; color:@text-2;}
      &.btn-inverted{background:@text-2; color:@text-1;}
      &.btn-plain{border-color:@highlight-1; color:@highlight-1;}
      &.btn-plain-secondary{border-color:@highlight-2; color:@text-2; background:@highlight-2;}
      &.btn-text-only{color:@text-3;
         &:after{bottom:0.5rem; left:0; right:0rem;}
         
      }

      &.btn-disabled{background:darken(@text-4, 5); border-color:darken(@text-4, 5);}

      &.btn-none{background:none; color:@text-1; border-color:transparent;}
   }
}

.circle-icon{display: inline-block;   vertical-align: top; color:@highlight-1; font-size:1.13rem; line-height:1.88rem; font-weight: normal; white-space: nowrap; margin:0 0 0 0.3rem;
   &:before{font-weight: bold; width:1.88rem; text-align: center; height:1.88rem; text-decoration: none; color:@text-2; .border-radius(10rem); background:@highlight-1; font-size:0.75rem; display: inline-block; vertical-align: top; margin-right:0.69rem;}
   &.danger{color:@notification-danger;
      &:before{background:@notification-danger;}
   }
}

.btn-spacing{width:2px; height:3.13rem; line-height:3.13rem; margin:0 1.25rem; display: inline-block; vertical-align: top; position: relative;
   &:after{content:"|"; display: block; width:100%; top:-5px; bottom:-5px; background:@border-1; font-size:0; position: absolute;}
}

.link-spacing{width:2px; height:1.75rem; line-height:1.75rem; margin:0 1.25rem; display: inline-block; vertical-align: middle; position: relative;
   &:after{content:"|"; display: block; width:100%; top:-5px; bottom:-5px; background:@border-1; font-size:0; position: absolute;}
}

.spacing{height:@grid-padding*2;}
h1,h2,h3{
   &+.spacing{margin-top:-@grid-padding;}
}

.narrow-buttons{font-size:0; position: relative;  margin-top:-@grid-padding; padding-right:1.56rem;
   
   .btn{margin-top:@grid-padding;}
   .btn-spacing{margin-top:@grid-padding;}
   .btn-spacing:last-child{position: absolute; top:@grid-padding; right:0; bottom:0; height:auto; margin-top:0;}
   b{font-size:1rem; margin-right:1.25rem;}
   .btn+.btn{margin-left:0.63rem;}
   .customInput+label{margin-left:0.63rem;}
   .customInput+.btn{margin-left:0.63rem;}
   .btn-text-only{padding-left:0; padding-right:0;
      &:hover:after, &.active:after{left:0; right:0;}
   }
}

.i18n-ru .narrow-buttons .btn-spacing{right:0rem;}

.link{font-weight: bold; text-decoration: none; color:@highlight-1; position: relative; cursor:pointer;
   transition: color 0.25s;
	&:hover{color:@highlight-1-hover;}
	&.primary{text-decoration: none; color:@highlight-1;
		&:hover{color:@highlight-1-hover;}
	}
	&.secondary{color:@highlight-2; text-decoration: underline;
		&:hover{color:@highlight-2-hover;}
		&:before, &:after{text-decoration: none; display: inline-block;}
	}
   &.danger{color:@notification-danger;}
   &.view{color:@text-4;
      &:hover, &.active{color:@text-3;}
      &:before, &:after{font-size:1.56rem; vertical-align: middle;}
   }
	&.shadow{color:@text-2; text-decoration: none; 
		text-shadow: 2px 2px 10px @text-3;
      &:hover{text-decoration: underline;}
      &:after{display: inline-block;}
	}
   &.dark{color:@text-1; opacity:0.3;
      &.active{opacity:1;}
   }
	&:after{margin-left:0.63rem; font-weight: normal;}
	&:before{margin-right:0.63rem; font-weight: normal;}
	&+.link{margin-left:@grid-padding;}
   
   &.after-arrow_down, &.after-arrow_up{
      &:after{font-size:0.63rem; vertical-align: middle;}
   }
   
   &.before-arrow_down, &.before-arrow_up{
      &:before{font-size:0.63rem; vertical-align: middle;}
   }
   
   &.big-icon{
      &:before, &:after{font-size:1.5rem; vertical-align: middle;}
   }
   
   &.btn-height{line-height:3.13rem;}
   &.pull-right{position: relative; z-index: 2;}
   
   &.size-l{font-size:1.13rem;}
   
   &+.btn{margin-left:2.5rem;}
   &.half-margin+.link{margin-left:0.94rem;}
   &.half-margin+.btn{margin-left:0.94rem;}
   
}

.tooltip-mark{background:@text-4; height:0.94rem; width:0.94rem; line-height:0.94rem; .before-questionmark; color:@text-2; font-size:0.63rem; display: inline-block; font-weight: normal; text-align: center; .border-radius(1rem); vertical-align: middle; margin-left:0.44rem;}

.customTitle{position: absolute; z-index: 999;  opacity:0;
	transition:transform 0.25s, opacity 0.25s;
	.customTitle-inner{border:@border-1 2px solid; background:@base-5;  padding:@grid-padding; .border-radius(0.5rem;); max-width:500px;}
	.arrow-up{position: relative; height:13px;
		&:after, &:before {bottom: -2px;left: 0;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
		&:after {border-color: rgba(0, 0, 0, 0);border-bottom-color: @base-5;border-width: 15px;margin-left: -15px;}
		&:before {border-color: rgba(0, 0, 0, 0);border-bottom-color: @border-1;border-width: 18px;margin-left: -18px;}
	}
	
	.arrow-down{position: relative; height:13px;
		&:after, &:before {top: -2px;left: 0;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
		&:after {border-color: rgba(0, 0, 0, 0);border-top-color: @base-5;border-width: 15px;margin-left: -15px;}
		&:before {border-color: rgba(0, 0, 0, 0);border-top-color: @border-1;border-width: 18px;margin-left: -18px;}
	}
	&.position-up{transform:translateY(-0.5rem); opacity:0;}
	&.position-down{transform:translateY(0.5rem); opacity:0;}
	
	&.animate{transform:translateY(0); opacity:1;}
	
	&.dropdown-menu{width:18.75rem; margin-top:0.5rem;
		.customTitle-inner{background:@base-3;}
		.arrow-up{
			&:after{border-bottom-color:@base-3;}
		}
		
		.arrow-down{
			&:after{border-top-color:@base-3;}
		}
		.nav-dropdown{margin:0 -@grid-padding -@grid-padding -@grid-padding;}
	}
   
   &.linkList{
      .link{margin-bottom:0.7rem; display: block; margin-left:0;
         &:last-child{margin-bottom:0;}
      }
   }
   &.calendarTitle .customTitle-inner{width:700px; max-width:700px;}
}

.user-info{-js-display: flex;  display: flex; margin-bottom:0.69rem;
	.user-info_icon{width:2.5rem; max-width:2.5rem; min-width:2.5rem;
		span{height:2.5rem; border:@text-1 2px solid; .border-radius(2.5rem); line-height:2.25rem; text-align: center; display: inline-block; width:2.5rem;}
	}
	.user-info_details{padding-left:0.63rem; font-size:0.88rem;
		b{font-size:1rem; display: block; margin-bottom:0.5rem;}
	}
}

.nav-dropdown{
	ul,li{padding:0; margin:0; display: block;}
	li{
		&:before{display: none;}
		a{display:block; border-bottom:@border-1 1px solid; color:@text-1; font-weight: bold; text-decoration: none; line-height:120%; padding:1.25rem 3.75rem 1.25rem 1.88rem; position: relative;
			transition:color 0.25s;
			&:hover{color:@highlight-1;}
			&:after{position: absolute; top:50%; margin-top:-0.63rem; right:0; font-size:1.25rem; line-height:100%; width:3.75rem; text-align: center;}
		}
		&:last-child a{border-bottom:none;}
	}
}

.block{background:@base-3; padding:@grid-padding*1.5 @grid-padding*2;
   &.no-padding{padding:0;}
   &.rounded{.border-radius(0.56rem);}
   &.dashed{border:@border-1 2px dashed; padding-top:1rem; padding-bottom:1rem;
      .row:first-child{margin-top:0;}
      p{line-height:185%;}
   }
   &.half-dashed{position: relative; padding-top:1rem; padding-bottom:1rem;
      &:before{position: absolute; top:0; left:0; right:0; height:1.88rem; border:@border-1 2px dashed; border-bottom:none; content:" ";}
      &:after{position: absolute; bottom:0; left:0; right:0; height:1.88rem; border:@border-1 2px dashed; border-top:none; content:" ";}
      .row:first-child{margin-top:0;}
   }
   
   &.block-map{padding:@grid-padding;}
}

.tags{list-style:none; padding:0; margin:0 0 -1.25rem 0; font-size:0;

   .leftover-tags{font-size:1rem; font-weight: bold; color: @highlight-1;}
	li{list-style:none; padding:0; display: inline; margin:0;
		&:before{display: none;}
	}
	a{font-weight: bold; display: inline-block; color:@text-2; text-decoration: none; background:@base-6; .border-radius(2rem); padding:0.31rem 1.1rem; line-height:120%; transition:background 0.25s; margin:0 1.25rem 1.25rem 0; font-size:1rem;
		&:before{margin-right:0.5rem; margin-left:-0.4rem;}
		&:after{margin-right:-0.4rem; margin-left:0.5rem;}
	}
	.tag-1 a:hover{background:#FE4A49;}
	.tag-2 a:hover{background:#FD9D29;}
	.tag-3 a:hover{background:#0090F0;}
	.tag-4 a:hover{background:#27AFCC;}
	.tag-5 a:hover{background:#00D6A8;}
	.tag-6 a:hover{background:#7F21AB;}
	.tag-7 a:hover{background:#E7378C;}
	.tag-8 a:hover{background:#FF763C;}
	.tag-9 a:hover{background:#5DCB26;}
	.tag-10 a:hover{background:#003AB3;}
   .tag-11 a:hover{background:#0033A0;}
   
   &.filled{
      .tag-1 a{background:#FE4A49;}
      .tag-2 a{background:#FD9D29;}
      .tag-3 a{background:#0090F0;}
      .tag-4 a{background:#27AFCC;}
      .tag-5 a{background:#00D6A8;}
      .tag-6 a{background:#7F21AB;}
      .tag-7 a{background:#E7378C;}
      .tag-8 a{background:#FF763C;}
      .tag-9 a{background:#5DCB26;}
      .tag-10 a{background:#003AB3;}
      .tag-11 a{background:#0033A0;}
   }
   
   &+a.link{margin-top:1.8rem;}
   
   @media screen and(max-width:@smMaxWidth){
      .tags .filled;
   }
	
}

.filter-tags { text-align: left; .clearBoth; margin-bottom: 1.25rem; padding: 2rem 1.88rem 1.25rem; position: fixed; top:0; left:0; right:0; z-index: 101; box-shadow:5px 5px 10px 0 rgba(0,0,0,0.1); transition:transform 0.25s, top 0.25s;
   &.empty { display: none !important;}
   &.collapsed  { transform: translateY(-100%); top:0;
      .toggler {transform: rotate(-180deg);bottom:-3rem;
//         &:after { line-height: 50px;}
      }
   }
   .tags { margin: 0;
      li { display: inline;
         a { white-space: nowrap;
            &:after { font-size: 0.81rem}
         }
         &:last-child { display: inline;}
      }
   }
   .link { white-space: nowrap; float: right; padding: 0.31rem 0 1rem 0;}
   .toggler { position: absolute; bottom:-1.5rem; left:50%; margin-left: -1.5rem; width: 3rem; height: 3rem; background: @base-3; border-radius: 50%; color:@base-6; display: block; text-align: center; line-height: 3rem; box-shadow:5px 5px 10px 0 rgba(0,0,0,0.1); transition:transform 0.25s;}
}


.inline+.notification{margin-top:@grid-padding;}
.notification{background:@highlight-1; color:@text-2; margin-bottom:@grid-padding*2;
	&+.inline{margin-top:-@grid-padding;}
	.inline{padding:@grid-padding 4.3rem; -js-display: flex;  display: flex; }
	.indicator{min-width:3.13rem; max-width:3.13rem; color:@highlight-1; line-height:3.13rem;
		.before-tick;
		&:before{display:inline-block; width:3.13rem; height:3.13rem; height:3.13rem; .border-radius(10rem); background:@base-3; text-align: center; font-size:1.25rem;}
	}
	.message{padding-left:@grid-padding*2; padding-right:16%; padding-top:3px; flex-grow: 1; max-width: 100%; display: block; flex-shrink: 1;}
	.close{cursor: pointer; padding-top:0.5rem; min-width:2rem; max-width:2rem;
		i{font-size:1.88rem; line-height:100%; display: inline-block;
			transition:transform 0.25s;
			&:hover{transform:scale(1.1);}
		}
	}
	
	&.danger{background:@notification-danger;
		.indicator{color:@notification-danger;
			.before-close;
		}
	}
	
	&.information{background:@notification-information;
		.indicator{color:@notification-information;
			.before-exclamation;
		}
	}
}

.pagination{list-style:none; padding:0; margin:0; font-size:0;
	li{display:inline-block; vertical-align: top; padding:0; margin:0;
		
		&:before{display: none;}
		.btn{margin:0 @grid-padding/2;}
		&:first-child .btn{margin-left:0;}
		&.dots{font-size:1rem; line-height:100%; padding-top:1.4rem; margin:0 @grid-padding/2;}
	}
}

table.interests{width:100%; color:@text-1; border-collapse: collapse; border:none; margin:@grid-padding*2 -(@grid-padding * 1.5);
   tbody{
      &:nth-child(odd){background:@base-5;}
   }
}

table.main{width:100%; color:@text-1; border-collapse: collapse; border:none; margin:@grid-padding*2 0; background:@base-3;
	th{text-align: left; background:@base-8; vertical-align: middle; padding:1.19rem @grid-padding; line-height:125%; font-size:1.13rem;}
	td{padding:1.81rem @grid-padding; line-height:140%; border-bottom:@border-1 1px solid;}
	.disabled td{color:@text-4;}
   td.disabled{color:@text-4;}
   
   th{
      [class*='before']{font-size:0.44rem; display: inline-block; vertical-align: middle; margin-left:0.5rem; }
      &.headerSortDown{
         [class*='before']{transform:rotate(180deg); visibility: visible;}
      }
      &.headerSortUp{
         [class*='before']{ visibility: visible;}
      }
   }
   [data-sort='true']{cursor:pointer;}
   
   &.statuses{
      th,td{
         &:nth-child(2){width:10px; padding-right:0; padding-left:@grid-padding;
         }
         &:first-child{padding:0; width:0.38rem;}
      }
      label{cursor: pointer;}
      
      .status-ok{
         td:first-child{background:@highlight-1; border-bottom-color:@highlight-1;}
      }
      
      .status-danger{
         td:first-child{background:@notification-danger; border-bottom-color:@notification-danger;}
      }
      
      .status-warning{
         td:first-child{background:@notification-information; border-bottom-color:@notification-information;}
      }
      
   }
   
   tr.subRow{
      label{margin-left:-1.9rem;}
   }
   
   label{
      .indicator{background:@base-3;}
   }
   
   tr.no-line{
      td{border-bottom:none; padding-top:1rem; padding-bottom:1rem;
         &[rowspan]{border-bottom:@border-1 1px solid; vertical-align: top;}
      }
      &+.opaque-line{
         td{border-bottom:@border-1 1px solid; padding-top:0; padding-bottom:1rem;}
      }
      &+.no-line{
         td{padding-top:0; padding-bottom:1rem;}
      }
   }
   tr.opaque-line{
      td{border-bottom:@border-1 1px solid;padding-top:1rem; padding-bottom:1rem;}
      &+.register{
         td{padding-top:1rem; padding-bottom:1rem;}
      }
   }
}
.block, .no-background{
   table.main{
      th{background:@base-7;}
      td{ border-bottom:@border-2 1px solid;}
   }
}

table.infoTable{
	td:first-child{font-weight: 900; padding-right:@grid-padding*2;}
   td{padding:1rem 0;}
}

.tabs{
	.toolbar{font-size:0;
		a{font-size:1.25rem; font-weight: 900; padding:0 3.75rem; line-height:3.13rem; text-decoration: none; background:@base-8; margin:0 0.63rem 0 0; display: inline-block; color:@text-4; .border-radius(0.6rem 0.6rem 0 0); 
			&:hover{color:@highlight-1;}
			&.active{color:@highlight-1; background:@base-3;}
		}
	}
	.tab{ background:@base-3; padding:@grid-padding * 2; display: none;
		&.active{display: block;}
	}
}

.no-background{background:@base-3; padding-top:@grid-padding; padding-bottom:@grid-padding; margin:@grid-padding 0;}
.accent-background{background:@highlight-2-hover; color:@text-2; padding:59px 0 80px 0;
	h1,h2,h3,h4,h5,h6{color:@text-2;}
	h4,h5,h6{margin-bottom:0.63rem;}
	p{margin:0.63rem 0;}
	&+.inline{padding-top:@grid-padding;}
   center{display: block; padding:0 @grid-padding/2;}
}

.full-banner{margin-top:-@grid-padding; background:center center no-repeat; background-size:cover; color:@text-2; margin-bottom:@grid-padding; position: relative;
	&:before{position: absolute; top:0; left:0; right:0; bottom:0; content:" "; overflow: hidden; background:rgba(0,0,0,0.3); }
	.placeholder{width:100%; display: block; min-height:15.63rem;}
	.inline{position: relative; z-index: 2;}
	.row{position: absolute; top:0; left:0; width:100%; bottom:0;
		.col-6{-js-display: flex;  display: flex; align-content: center; align-items: center;}
	}
	h1,h2,h3,h4,h5,h6{color:@text-2; text-shadow: 2px 2px 10px @text-3; margin-bottom:0.75rem;}
	.link{font-size:1.13rem;}
	
	.quick-search{-js-display: flex;  display: flex; width:100%; margin-bottom:1.25rem;
		
		.form-item{width:78%;
			&+.form-item{width:22%;margin-top:0;
				.btn{display: block; width:100%; cursor:pointer; padding-left:0; padding-right:0; .border-radius(0);}
			}
			input{height:3.06rem; line-height:3.06rem; appearance:none;
				&:focus{border-color:@base-3 !important; }
			}
		}
		
		.form-item.rounded-corners{
			input{.border-radius(2rem 0 0 2rem); height:3.06rem; }
			&+.form-item{width:22%;
				.btn{.border-radius(0 2rem 2rem 0); height:3.06rem; }
			}
		}
	}
	
}

.image{background:center center no-repeat; background-size:cover; display: block; position: relative;
   img{display:block; width:100%;}
   
   &:before{position: absolute; top:50%; left:0; right:0; text-align: center; color:@text-2; font-size:1.75rem; margin-top:-0.875rem;
      transition:color 0.25s, transform 0.25s;
   }
   
   &:hover{
      &:before{color:@highlight-1; transform:scale(1.2);}
   }
   
   .tags{position: absolute; top:@grid-padding; right:@grid-padding; text-align: right;
      a{margin:0 0 0.4rem 0.5rem;}
   }
   
}

.map{position: relative; background:@base-7; display: block;
   &>img{width:100%; display: block;}
   .map-obj{position: absolute; top:0; left:0; width:100%; height:100%;}
   .map-buttons{position: absolute; bottom:@grid-padding; right:@grid-padding; z-index: 10;
      a, div{float:left; margin:0; clear:both; margin-top:@grid-padding/2;
         &+.btn.circle{margin-left:0;}
      }
   }
   .map-marker{font-size:45px; line-height:57px; position: relative; display: block; margin-top:5px; margin-left:1px;
      &:before{position: absolute; font-size:15px; color:@text-2; left:0; right:0; text-align: center; top:14px; line-height:100%;}
      &.theme-1{color:#FE4A49;
         .before-event_theater;
         &:before{font-size:18px;}
      }
      &.theme-2{color:#FD9D29;
         .before-event_photography;

      }
      &.theme-3{color:#0090F0;
         .before-event_music;
      }
      &.theme-4{color:#27AFCC;
         .before-event_art;
      }
      &.theme-5{color:#00D6A8;
         .before-event_nature;
      }
      &.theme-6{color:#7F21AB;
         .before-event_dance;
         &:before{font-size:18px;}
      }
      &.theme-7{color:#E7378C;
         .before-event_sport;
         &:before{font-size:18px;}
      }
      &.theme-8{color:#FF763C;
         .before-event_courses;
         
      }
      &.theme-9{color:#5DCB26;
         .before-event_other;
      }
      &.theme-10{color:#003AB3;
         .before-event_camp;
      }
      &.theme-11{color:#0033A0;
         .before-event_ev100;
      }
   }
   img[usemap]{display: none;}
}

.list-item{display: block; background:@base-3; text-decoration: none; color:@text-1; width:100%; min-height:100%; position: relative;
   a{text-decoration:none;}
	
   p{margin:0px 0; display: none;}
   
	.details{padding:0.94rem @grid-padding; display: block; position: relative; color:@text-3;
      &:after{bottom: 100%; left: 1.25rem; border: solid transparent; content: ""; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-bottom-color: @base-3; border-width: 0.88rem;}
		.title{display: block; font-weight: 900; color:@text-1; font-size:1.13rem;
         &:hover{color:@highlight-1;}
      }
		.info{color:@text-6; 
         transition:color 0.25s;
			p{margin:0.31rem 0; display: block;
				&:before{width:1.56rem; display: inline-block;}
			}
		}
      a{color:@text-3; text-decoration: none;
         &:hover{color:@highlight-1;}
      }
      .before-location{cursor: pointer;
         &:hover{color:@highlight-1;}
      }
	}
  .tags{position: absolute; top:0; right:0; text-align: right; padding:0.63rem 0.63rem 0 0; z-index: 3;
    a{font-size:0.81rem; padding:0.25rem 0.63rem; margin:0 0 0.63rem 0.63rem;}
  }
   
   .price{position: absolute; bottom:1rem; right:1.25rem; z-index: 2; color:@text-6;}
   
   
   
   
   .more-link{position: absolute; bottom:1rem; left:0; margin-left:@grid-padding; font-weight: normal; z-index:2;}
   
}
.grid-view{
  .image{display: block;}
  .details{
    &:after{content: "";}
    .info{
      p{margin: 0.31rem 0;}
    }
  }
  .tags{position: absolute; top:0; right:0; text-align: right; padding:0.63rem 0.63rem 0 0; z-index: 3;
    a{font-size:0.81rem; padding:0.25rem 0.63rem; margin:0 0 0.63rem 0.63rem;}
  }
  .price{position: absolute; bottom:1rem; right:1.25rem; z-index: 2; color:@text-6;
    &~.details{padding-bottom:3rem;}
  }
}

.category-spacer{display: block; height:1px; width:100%; margin:@grid-padding 0; background:@border-2; overflow: hidden;}
.swiper-container .list-item .tags{top:0;}

.filter-output{padding-top:@grid-padding; position: relative;
   .col-12{display: none;}
   h3{margin-top:1rem;}
   .col-12:first-child h3{margin-top:0;}
   .col-4{display:flex;
      .list-item{flex-grow:1;}
   }
  .col-12.grid-view-show{display: block;}
  &.events.list-view{
    .list-item{flex-direction: column;}
    .description{display: none;}
    .details{
      &:after{content: none;}
      .info{
        p{margin: 0.31rem 0 0;}
      }
    }
    .tags{position: static; padding: 0.94rem @grid-padding 0; z-index: 3; margin: 0 0 -0.94rem; text-align: left;
      a{font-size:0.81rem; padding:0.25rem 0.63rem; margin:0 0.63rem 0.63rem 0;}
    }
    .image{display: none;}
  }
}


@media screen and( min-width: (@smMaxWidth + 1)  ){
  .filter-output.list-view.events{
    .list-item{flex-direction: column;
      .details:after{content: none;}
    }
  }
  .grid-view{
    .details{
      &:after{content: "";}
      .info{
        p{margin: .31rem 0;}
      }
    }
    .info{padding-bottom: 0.31rem;}
  }
   .list-view{
      .col-12{display: block;}
		.col-12.grid-view-show{display: none;}
      .row .col-4{width:100%;}
      .list-item{min-height:0; -js-display: flex;  display: flex;
         &:after{.clearBoth;}
         .image{min-width:32%; width:32%;}
         p{display:block;}
         .details{width:68%;
            &:after{top: 50%; left: -1.7rem; margin-top:-0.88rem; border: solid transparent; content: ""; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-right-color: @base-3; border-width: 0.88rem;}
         }

         //.tags{left:0; right:auto; width:32%;}

         .info{-js-display: flex;  display: flex; flex-wrap: wrap; width:100%;
            p{width:50%;}
         }
         .more-link{left:32%;}

      }
   }
}

.filter-output .block-map{display: none;}
.filter-output.map-view .block-map{display: block;}
.filter-output.map-view > .row{display: none;}


.double-banners{-js-display: flex;  display: flex; position: relative;
	.entry{width:50%; color:@text-2; position: relative; background:center center no-repeat; background-size:cover; min-height:100%;

		&:after{position: absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); content:" "; display: block;}
		.details{position: relative; z-index: 2; color:@text-2; width:45%; padding:6.25rem 0 9.5rem 0; min-width:500px; min-height:100%;
			h1,h2,h3,h4,h5,h6{color:@text-2; margin:0;}
			p{margin:24px 0;}
		}
		
		&:first-child{text-align: right; padding-right:7.5rem;
			.details{float:right;}
		}
		&:last-child{text-align: left; padding-left:7.5rem;
			.details{float:left;}
			.btn{right:auto; left:0;}
		}

		.btn{position: absolute; bottom:6.25rem; right:0;}
	}
}

.newslist{background:url(../imgs/newslist.svg) center center no-repeat; background-size:cover; padding:100px 0;
	h3{margin:0 0 1.13rem 0;}
}

.logos{margin:0 auto; padding:0; -js-display: flex;  display: flex; width:70%; align-content: center; align-items: center; justify-content:space-around;
	li{padding:0; margin:0; width:20%;
		&:before{display: none;}
		img{max-height:100px;}
		a{transition:transform 0.25s; display: block; text-align: center;
			&:hover{transform:scale(1.1);}
		}
	}
}

.breadcrumbs{display: block; padding:0; margin:0; list-style:none; font-size: 0;
   li{display: inline-block; margin:0; padding:0;
      &:before{display:none;}
      a, span{color:@text-4; text-decoration: none; font-size:0.94rem; margin-right:0.56rem; transition:color 0.25s;}
      a:hover{color:@highlight-1;}
   }
}

.filter-wrapper{
   .filter-scroller{
      &>.row{padding:0 @grid-padding*2;
         [class*='col-']{padding-left:0; padding-right:0;
            .rounded-corners{
               input[type='text']{.border-radius(5rem 0 0 5rem);}
            }
            .btn{.border-radius(0 5rem 5rem 0); height:3.135rem; padding:0; line-height:3.135rem;
               &:before{font-size:1.3rem;}
            }
         }
      }
   }
}
.filter{list-style:none; padding:0; margin:0; display: block;
   ul{margin:0; padding:0; list-style: none;}
   
   .form-item+.form-item{margin-top:0;}
   li{list-style:none; padding:0; margin:0;  border-bottom:@base-7 1px solid;
      &:before{display: none;}
      li:last-child{border-bottom:none;}
      ul{
         height:0; overflow: hidden; opacity:0;
         transform:translateY(1rem);  transition:opacity 0.5s, transform 0.5s;
      }
      &.active{
         &>ul{display:block; transform:translateY(0); opacity:1; height:auto;}
         &>.filter-title:after, &>.form-item[rel='trigger']:after{transform:rotateX(-180deg);}
      }
      .hidden{height:0; overflow: hidden; opacity:0;
         transform:translateY(1rem);  transition:opacity 0.5s, transform 0.5s;
      }
      &.show-hidden{
         .hidden{transform:translateY(0); opacity:1; height:auto;}
      }
      
      &.sm-show{
         ul{
            li{border-bottom:none; padding-bottom:@grid-padding;}
            li:first-child{padding-top:@grid-padding;}
            li:last-child{padding-bottom:@grid-padding*2;}
         }
         .range-date-wrapper {
            .form-item + .form-item {padding-top:@grid-padding;}
         }
      }
      
      
   }
   
   .show-more{border-top:@base-3 1px solid; margin-top:-1px; text-align: center; padding:0.94rem 0;
      *{cursor: pointer;}
   }
   
   .reset{text-align: left; padding:1.3125rem 1.88rem; display: none;
      .link{cursor: pointer;
         &:after{font-size:0.81rem; display: inline-block; vertical-align: center; margin:0 0.3125rem 0 1.25rem; float:right;}
      }
   }
   
   &>li>ul{padding:0 1.88rem; font-weight: bold;}
   
   &>li>ul>li>ul{padding:0 1.25rem; font-weight: normal;}
   
   .form-item{
      transition:color 0.25s;
      &:hover{color:@highlight-1;
         &:after{color:@highlight-1;}
      }
      label{padding:1rem 0 1rem 2.06rem; display: block; position: relative; margin:0;
         .customCheckbox, .customRadio{position: absolute; top:1rem; left:0;}
         .label-title{display: block;}
         
      }
      &[rel='trigger']{
         
         .after-arrow_down;
         .label-title{padding-right:3.13rem;}
         &:after{position: absolute; font-size:0.63rem; line-height:100%; text-align: center;  top:50%; right:0; margin-top:-0.315rem; text-align: right; cursor: pointer; transition:color 0.25s; pointer-events: none;
            transition:transform 0.25s; 
         }
      }
   }
      
   .filter-title{padding:1.25rem 5rem 1.25rem 1.88rem; font-weight: bold; position: relative; cursor: pointer;
      transition:color 0.25s;
      .after-arrow_down;
      &:before{width:2.2rem; display: inline-block;}
      &:after{position: absolute; font-size:0.63rem; line-height:100%; width:5rem; text-align: center;  top:50%; right:0; margin-top:-0.315rem; 
         transition:transform 0.25s; 
      }
      &:hover{color:@highlight-1;}
   }
}

.filter-button{padding:0 1.88rem; line-height:3.8rem; position: relative; cursor: pointer;
   &:before{display: inline-block; padding-right:1rem;}
   &:after{position: absolute; top:0; right:1.88rem; font-size:0.76rem;}
   &.after-close:after{font-size:1rem;}
}

.slider-range{padding:0.56rem 0 3rem 0;
	.bar{height:0.19rem; background:#E5E5E5; position: relative;}
	.range{position: absolute; left:0; width:0; background:@highlight-1; height:0.19rem; top:0;}
	.knob{position: absolute; top:0; left:0; width:0.94rem; height:0.94rem; background:@highlight-1; top:-0.38rem; cursor: move; .border-radius(1rem);
      span{position:absolute; top:1.38rem; width:3.13rem; text-align: center; left:-1.09rem; color:@text-3;}
   }
}

.search-result{display: block; color:@text-3; text-decoration: none; padding:@grid-padding 0;  border-bottom:@border-1 2px solid;
   &:first-child{margin-top:-@grid-padding;}
   .search-result_title{font-size:1.5rem; display: block; font-weight:900; margin:0 0 0.81rem 0;}
   .search-result_description{line-height:1.88rem;}
   &:hover{color:@highlight-1;}
}

.search-filter{margin:-0.8rem 0 -0.88rem 0;
   .clearBoth;
   .pull-right{margin-top:0.13rem;}
   b{font-size:1.13rem; display: inline-block; padding-right:2.5rem;}
   .form-item{display: inline-block; font-weight: bold; margin-top:0;
      &+.form-item{margin-top:0;}
   }
}

.login-buttons{margin-top:2.3rem;
   a{display: block; line-height:3.13rem; color:@text-1; font-weight: 900; text-decoration: none;
      transition:color 0.25s;
      img{height:3.13rem; display: inline-block; vertical-align: middle; padding-right:0.75rem;
         transition:transform 0.25s;
      }
      &:hover{color:@highlight-1;
         img{transform:scale(1.05);}
      }
   }
   
   .divider{text-align: center; display: block; height:3.56rem; -js-display: flex;  display: flex; align-items: center; justify-content: center; position: relative;
      &:after{content:" "; display: block; position: absolute; top:50%; left:0; right:0; height:2px; background:@border-1;}
      span{position:relative; z-index: 2; color:@border-1; background:@base-3; display: inline-block; padding:0 0.31rem;}
   }
}

.login-form{-js-display: flex;  display: flex; margin:@grid-padding -@grid-padding/2;
   .form-item{width:50%; padding:0 @grid-padding/2;
      &+.form-item{margin-top:0;}
   }
}

.accordion{
   .accordion-entry{border-bottom:@border-1 2px solid;
      .accordion-title{font-size:1.5rem; display: block; font-weight: 900; line-height:140%; padding:1.06rem 3rem 1.06rem 0; position: relative; cursor: pointer;
         transition:color 0.25s;
         .after-arrow_down;
         &:after{position: absolute; top:50%; right:0; font-size:0.69rem; line-height:100%; margin-top:-0.345; transition:transform 0.5s; }
         &:hover{color:@highlight-1;}
      }
      
      .accordion-content{height:0; overflow: hidden; padding:0; opacity:0;
         transform:translateY(1rem);  transition:opacity 0.5s, transform 0.5s;
      }
      
      &.active{
         .accordion-content{height:auto; opacity:1;  padding:@grid-padding 0; transform:translateY(0);  }
         .accordion-title{color:@highlight-1;
            &:after{transform:rotateX(-180deg);}
         }
      }
   }
}

table.table-form{ border-collapse: collapse; table-layout: fixed;
   
   .minimal{width:10px;}
   
   th, td{padding:@grid-padding @grid-padding; white-space: nowrap; text-align: left;
      &:first-child{padding-left:0;}
      &:last-child{padding-right:0;}
   }
   
   th{padding-bottom:0.63rem;}
   .size-xs{width:9.38rem;
      input{text-align: center;}
      &+.minimal{padding-left:0; padding-right:0; text-align: center;}
      .SumoSelect{
         .search-txt{text-align: left; display: none; padding:0 1.25rem;}
         &.open .search-txt{display: block;}
         .no-match{display: none !important;}
      }
   }
   tbody{
      tr:first-child td{padding-top:0;}
      
   }
   
   .form-item{
      label{margin-right:0;
      }
   }
}

table.files{-js-display: flex;  display: flex; margin-bottom:@grid-padding*2;
   
   td{padding:0 2.25rem;}
   .no-padding{padding-left:0; padding-right:0;}
   
   tr+tr{
      td{border-top:transparent @grid-padding*2 solid;}
   }
   
   .line{padding:0;
      &:after{content:" "; display: block;  width:2px; background:@border-1; height:2.38rem; }
   }
   
   .file-image{background:center center no-repeat; background-size:cover; width:8.81rem; max-width:8.81rem; min-width:8.81rem;
      img{display:block; width:100%;}
   }
   
   .file-upload{width:8.81rem; max-width:8.81rem; min-width:8.81rem; line-height:8.56rem; border:@border-1 2px dashed; .border-radius(0.5rem); position: relative;  color:@border-1; cursor: pointer;
      transition:color 0.25s, border 0.25s;
      img{display:block; width:100%;}
      
      .after-plus;
      
      &:after{position: absolute; top:0; left:0; width:100%; text-align: center; font-size:3.5rem; height:8.56rem;
         transition:transform 0.5s;
      }
      
      input{position: absolute; top:0; left:0;  height:100%; width:100%; z-index: 2; cursor: pointer; opacity:0;}
      &:hover{border-color:@highlight-1; color:@highlight-1;
         &:after{transform:rotate(90deg);}
      }
   }
   
}

.ajax-loader{display: block; height:100px; background:url(../imgs/loader.svg) center center no-repeat;  background-size: contain;}

.overlay{position: fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index: 999; display: none; padding:0 2rem; cursor: pointer; overflow: auto;
	&:after{content:" "; display: block; position: absolute; font-size:10rem; top:50%; left:50%; background:url(../imgs/loader.svg) center center no-repeat; background-size:contain; width:1em; height:1em; margin:-0.5em 0 0 -0.5em; transition:transform 0.25s, opacity 0.25s; z-index:99;}
	.overlay-inline{display: block; max-width:1000px; margin:3.75rem auto; background:@base-3; padding:4rem 8.13rem 3.5rem 8.13rem; opacity:0; cursor: auto; transform:translateY(-5rem); transition:opacity 0.25s, transform 0.25s; .border-radius(0.5rem); }
   
	&.overlay-enter{
		.overlay-inline{opacity:1; transform:translateY(0);}
	}
	&.content-loaded{
		&:after{transform:translateY(5rem); opacity:0; display: none;}
	}
	
   .close-x{
      &+h1,&+h2,&+h3,&+h4,&+h5,&+p,&+ul,&+ol{
         margin-top:0;
      }
   }
   h1,h2,h3,h4,h5, p, ul, ol{
      &:first-child{margin-top:0;}
      &:last-child{margin-bottom:0;}
   }
	
	section.section{padding-bottom:0;}
	
	[data-loader]{display: none;}
	
	.close-x{position: absolute; top:0; right:0; width:6.88rem; height:6.88rem; line-height:6.88rem; cursor: pointer; font-size:1.31rem; text-align: center; font-size: 1.88rem;
      transition:color 0.25s, transform 0.25s;
		.before-close;
      
      &:hover{color:@highlight-1;
         transform:scale(1.1);
      }
	}
	
}

.image-404{text-align: center; position: relative; margin-bottom:@grid-padding*2;
   img{max-width:600px; width:100%; opacity:0.2;}
   .image-404-text{position: absolute; bottom:1.56rem; left:0; right:0; text-align: center;
      h1{margin:0;}
      p{margin:0.38rem 0 0 0;}
   }
}

.block-gray{background:@base-8; margin-left:-@grid-padding; padding:@grid-padding*2;
   p{line-height:185%;}
   p.size-xl{line-height:140%;}
}

.filter-buttons{margin:1.25rem 0 0 0;
   label{display: inline-block; position: relative; margin:0 @grid-padding 1rem 0;
      input{position: absolute; top:0; left:0; width:100%; height:100%; cursor: pointer; opacity: 0;}
      span{color:@text-4; font-weight: bold; cursor: pointer;
         transition:color 0.25s;
         &:before{font-weight: normal; font-size:1.56rem; display: inline-block; vertical-align: middle; padding-right:0.44rem;
            transition:transform 0.25s;
         }
         
      }
      
      &.theme-1 input:checked + span{color:#FE4A49;}
      &.theme-2 input:checked + span{color:#FD9D29;}
      &.theme-3 input:checked + span{color:#0090F0;}
      &.theme-4 input:checked + span{color:#27AFCC;}
      &.theme-5 input:checked + span{color:#00D6A8;}
      &.theme-6 input:checked + span{color:#7F21AB;}
      &.theme-7 input:checked + span{color:#E7378C;}
      &.theme-8 input:checked + span{color:#FF763C;}
      &.theme-9 input:checked + span{color:#5DCB26;}
      &.theme-10 input:checked + span{color:#003AB3;}
      &.theme-11 input:checked + span{color:#0033A0;}
      
      &:hover{
         span:before{transform:scale(1.1);}
      }

   }
}

.filters-mobile{position: fixed; top:0; left:1200px; right:0; height:100%; background:#fff; z-index: 999;
   ul{.filter;}
   .filters-mobile_wrapper{position: absolute; top:0; left:0; right:0; bottom:0; overflow: auto;}
}

.cookie-notification{position: fixed; bottom:0; left:0; right:0; z-index: 9999; background:@base-2; color:@text-2; display: none;
   p{margin:0; padding:0 2rem 0 0;}
   .col-10{-js-display: flex;  display: flex; align-content: center; align-items: center; }
   .before-close, .after-close{text-decoration: none; color:@text-2; line-height:3.06rem; margin:0 0 0 2rem;
      &:after{padding-left:0.5rem;}
      &:before{padding-right:0.5rem;}
   }
}

.event_preview{position: fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.15); z-index: 10001;
   .event_preview-wrapper{background:@base-3; position: absolute; bottom:0; left:0; width:100%; padding:1.88rem 0 2.5rem 0;}
}

.js-info-bubble-close{display: none;}
.infobubble-content{color:@text-4; font-size:0.88rem; padding:0.63rem 1rem;
   h3{margin:0; font-size:1rem; color:@text-3;
      a {color:@text-3; text-decoration: none;
         &:hover { color:@highlight-1;}
      }
   }
   p{margin:0.31rem 0; display: block;
      &:before{width:1.56rem; display: inline-block;}
   }
}

.oldBrowser-popup{background:@base-3; padding:2.5rem; display: none; position: fixed; top:0; left:0; width:100%; height:100%; z-index: 9999;
   .inline{padding:4rem 0;}
   &:after{.clearBoth;}
   h1{color:@highlight-1; font-size:2rem; text-align: center; margin:0 0 4rem 0;}
   .entry{float:left; width:33.33%; font-size:1rem; text-decoration: none;
      img{display:block; width:50%; margin:0 auto 1rem auto;}
      .text{color:@text-3; text-align: center; font-size:0.88rem;
         b{color:@text-1; display: block; font-size:1.5rem;}
      }
      &:hover .text b{text-decoration:underline;}
   }
}


#eventTable {
   tr.eventItem { display: none;
      &.visible-row { display: table-row;}
   }
}

.scroll-to-top{position: fixed; width:3.13rem; height:3.13rem; line-height:3.13rem; text-align: center; background:@base-3; color:@highlight-1; font-size:1.25rem; z-index: 1500; .border-radius(6.25rem); left:50%; bottom:20px; cursor: pointer; opacity:0; pointer-events: none;
   -webkit-transition:opacity 0.5s; transition:opacity 0.5s;
   .before-top;
   &:hover{background:@highlight-1; color:@base-3;}
   &.visible{pointer-events: auto; opacity: 1;}
}

.loading {
	&:before { content: ''; position: absolute; z-index: 5; height: 100%; width: 100%; background: @base-7; display: block; background-image: url(../imgs/loader.svg); background-repeat: no-repeat; background-position: center center; min-height: 12.5rem; }
}

.filter-output {
	&.loading { min-height: 12.5rem;
		.row { display: none; }
	}
}

.madeby { font-size: 14px; color: @text-2; text-decoration: none;
  @media screen and (max-width: @smMaxWidth) { font-size: 12px; }
}