//main: build.less
.gallery-open{overflow: hidden;
   body{overflow: hidden;
      &>.wrapper, &>.wrapper-main{
         filter: blur(10px);
      }
   }
}

.gallery-popup{position: fixed; top:0; left:0; width:100%; height:100%; background:fade(#000, 50); z-index: 999; color:@text-1;
   
   .gallery-wrapper{width:100%;}
   .gallery-thumbnails{position:absolute; left:0; width:100%; bottom:0; font-size: 0; overflow: hidden; height:10rem;
      ul, li{list-style:none; padding:0; margin:0; display: inline;}
      ul{position:absolute; width:9999rem; left:0; bottom:1rem; transition:left 1s;
         li{padding:0 0.88rem; display:inline-block; width:138px; vertical-align: middle; transition:transform 0.25s;
            &.active{width:188px;}
            a{display: inline;
               img{display:block; width:100%;}
            }
         }
      }
   }
   .swiper-container{position: relative; height:100%; padding:0; margin:0;
      &:before{display: none;}
      &:after{display: none;}
      .swiper-holder{height:100%;}
      .swiper-slide{height:100%; background:center center no-repeat; background-size:contain;
         .loader{position: absolute; top:50%; left:50%; text-align: center; color:@text-1; font-size:4rem; height:4rem; line-height:4rem; width:4rem;  margin-left:-2rem; margin-top:-2rem;
            &:before{animation:spin 1s linear infinite; display: inline-block;}
         }
			iframe{display: block; margin:0 auto; width:100%; height:100%; border:none;}
      }
      .swiper-wrapper{padding-bottom:0; margin:0;}
   }
   .gallery-image{position: absolute; left:140px; right:140px; bottom:0; top:80px;
		.image-wrapper{position: absolute; top:0; left:-100%; width:100%; height:100%;
			&.enterLeft{animation:enterLeft 0.5s; animation-fill-mode: both;}
         &.enterRight{animation:enterRight 0.5s; animation-fill-mode: both;}
         &.leaveLeft{animation:leaveLeft 0.5s; animation-fill-mode: both;}
         &.leaveRight{animation:leaveRight 0.5s; animation-fill-mode: both;}
		}
		.image{position: absolute; top:0; left:3.5rem; right:3.5rem; bottom:60px; background:center center no-repeat; background-size:contain;
         .loader{position: absolute; top:50%; left:50%; text-align: center;  color:@text-1; font-size:4rem; height:4rem; line-height:4rem; width:4rem;  margin-left:-2rem; margin-top:-2rem;
            &:before{animation:spin 1s linear infinite; display: inline-block;}
         }
         .youtube-video{position: absolute; top:0; left:0; width:100%; height:100%; cursor: pointer;
            iframe{position:absolute; top:0; left:0; width:100%; height:100%; }
            .before-play;
            &:before{font-size:6rem; line-height:1em; position: absolute; top:50%; left:0; right:0; text-align: center; margin-top:-0.5em; color:@text-2;
               transition:transform 0.25s;
            }
            
            &:hover{
               &:before{color:@highlight-1; transform:scale(1.2);}
            }
         }
      }
      .description{bottom:-132px; left:-3.5rem; position: absolute; right:-3.5rem;}
      .state{bottom:-40px; left:0; position: absolute; text-align: center; width:100%; font-size:1.5rem; color:@text-2;}
   }
   
	.gallery-close{position: absolute; top:-5rem; right:0; line-height:5rem; font-size:2.19rem; cursor: pointer; color:@text-2;
		.before-close;
		&:before{transition:color 0.25s;}
      &:hover{
         &:before{color:@highlight-1;}
      }
	}
   
   .gallery-previous{position: absolute; left:0; bottom:132px; top:0; width:1.85rem; cursor: pointer; z-index: 10; color:@text-2;
		.before-arrow_left;
		&:before{font-size:3.75rem; line-height:3.75rem; position:absolute; top:50%; left:0; margin-top:-1.875rem;
         transition:color 0.25s;
      }
      &:hover{
         &:before{color:@highlight-1;}
      }
	}
	.gallery-next{position: absolute; right:0; bottom:132px; top:0; width:1.85rem; cursor: pointer; z-index: 10;
		.before-arrow_right;
		&:before{font-size:3.75rem; line-height:3.75rem;  position:absolute; top:50%; right:0; margin-top:-1.875rem; color:@text-2;
         transition:color 0.25s;
      }
      &:hover{
         &:before{color:@highlight-1;}
      }
	}
   
   &.iframe{-js-display: flex; display: flex; flex-direction: column; align-content: center; justify-content: center;
      .gallery-wrapper{width:1000px; margin:0 auto; position: relative;
         img{width:100%;}
      }
      iframe{ position: absolute; top:0; left:0; width:100%; height:100%; border:none;}
   }
   .title{position: absolute; top:-3rem; left:0; font-size:1.25rem; font-weight: bold;}
   
   &.single-image{
      .gallery-image{bottom:2rem;}
   }
   
   
   
}


@keyframes leaveLeft{
   from{left:0; }
   to{left:-100%;}
}

@keyframes leaveLeft{
   from{left:0; }
   to{left:-100%;}
}

@keyframes leaveRight{
   from{left:0; }
   to{left:100%;}
}

@keyframes enterLeft{
   from{left:100%; }
   to{left:0%;}
}

@keyframes enterRight{
   from{left:-100%; }
   to{left:0%;}
}

@keyframes spin{
   from{transform:rotate(0deg)}
   to{transform:rotate(360deg)}
}