//main:build.less

header.main{background:@base-1; color:@text-2;
	
	.accessibility{ font-weight: bold; line-height:1.5rem; display: inline-block; margin-right:@grid-padding*2; vertical-align: middle; cursor: pointer;
      &.active{color:@highlight-1;}
		a{color:@text-2; text-decoration: none;
			&:hover{color:@highlight-1;}
		}
		.increase{font-size:1.5rem; font-weight: 900;}
	}
	.weather{display: inline-block; white-space: nowrap; font-size:1.56rem; font-weight: bold;  vertical-align: middle;
		img{display:inline-block; width:2.81rem; height:1.88rem; vertical-align: middle;}
	}

	.text-right{display: flex; align-items: center; justify-content: flex-end; flex-wrap: wrap;}
	
	.lang{color:@text-2; text-decoration: none; opacity:0.2; font-weight: bold; margin-left:@grid-padding;
      &:hover{text-decoration: underline; opacity:0.6;}
		&.active{opacity:1;}
	}
	.before-search{font-size:1.56rem; color:@text-2; margin-left:@grid-padding*2; text-decoration: none;
		&:hover{color:@highlight-1;}
	}
	
	a{transition:color 0.25s, opacity 0.25s;}
	
	.center-links{display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap;
		.link{color:@text-2; font-weight: normal; white-space: nowrap; line-height:1.56rem; 
			&:before{display: inline-block; background:@highlight-1; .border-radius(2rem); width:1.56rem; height:1.56rem; font-size:0.94rem; text-align: center; vertical-align: middle; color:@text-2;}
			&:hover{color:@highlight-1;}
			&.before-arrow:before{font-size:0.56rem;}
		}
	}
	.center-links[max-width~='420px'] .link{font-size:0.8rem;}
	
	.toolbar{
		[class*='col-']{padding-top:0.81rem; padding-bottom:0.75rem;}
	}
	
	.logo{font-size:1.63rem; font-weight: 900; text-decoration: none; color:@text-1; display: block;
		img{width:5.63rem; height:2.81rem; display: inline-block; vertical-align: middle; margin-right:0.63rem;}
		&:hover{color:@highlight-1;}
	}
	
	.logo[max-width~='284px']{font-size:1.4rem;}
	.logo[max-width~='254px']{font-size:1.2rem;}
	
	.no-background{margin:0; color:@text-1; padding:0;
		
	}
	
	.account-link{text-decoration: none; color:@text-1; display: inline-block; white-space: nowrap; line-height:120%;
		&+.account-link{margin-left:1.88rem;}
		span{font-size:1.25rem; margin-left:5px;}
		&:hover{color:@highlight-2-hover;}
		&.alternative{color:@highlight-1;}
		&.active{color:@highlight-1-hover;}
	}
	
}



nav.main{width:100%;
	ul, li{padding:0; margin:0; list-style:none; display: inline;
		&:before{display: none;}
	}
	ul{-js-display: flex; display: flex; width:100%; justify-content: space-between; flex-wrap: wrap;}
	a{font-size:1.19rem; font-weight: bold; text-decoration: none; color:@text-1; padding:0 @grid-padding;
		&:hover{color:@highlight-2-hover;}
	}
}

.header-search{background:@base-2; margin-top:-3.75rem; display: none;
   transition:margin 0.25s;
   &.visible{display: block; margin-top:0;
      
   }
   
   .row{position: relative; 
      &:after{top: 100%; right: 0.94rem; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-top-color: @base-2; border-width: 0.63rem; margin-top:-1.25rem; z-index: 10;
         transition:margin 0.25s; transition-delay: 0.25s;
      }
      
      
      [class*='col-']{margin:0; padding-top:1rem; padding-bottom:1rem;}
   }
   
   .form-item{
      input[type='text']{background:none; border:none; border-bottom:@border-3 2px solid !important; height:1.75rem; line-height:1.75rem; padding:0; color:@text-2;
         &:focus{border-color:@border-3 !important ;}
      }
   }
   
   .before-close{ line-height:1.75rem; display: inline-block; cursor: pointer; width:2.5rem; margin-right:-2.5rem; text-align: center; font-size:1.25rem;
      &:hover{color:@highlight-1;}
   }
   
}

@keyframes headerSearch{
   from{margin-top:-3.75rem;}
   to{margin-top:0;}
}


header.main[max-width~='1400px']{
   nav.main a{font-size:1rem;}
   .account-link{font-size:0.8rem;
      span{font-size:0.8rem;}
   }
}

header.main[max-width~='1225px']{
   nav.main a{font-size:0.8rem;}
   .account-link{font-size:0.71rem;
      span{font-size:0.71rem;}
   }
}


header.mobile{ position: fixed; top:0; left:0; right:0; z-index: 100;
   .upper{background:@base-1; height:4.69rem; color:@text-2; position: relative; line-height:4.96rem; overflow: hidden;
      [class*='before-']{width:6.06rem; text-align: center; display: inline-block; font-size:1.88rem; cursor: pointer;}
      .before-search.active{
         .before-close;
      }
   }
   ul{padding:0; margin:0; list-style:none; position: absolute; top:0; left:6rem; right:6rem; text-align: center; font-size:0;
      li{padding:0; margin:0; display: inline;
         &:before{display: none;}
         a{color:@text-2; text-decoration: none; display: inline-block; font-size:1.13rem; font-weight: 700; padding:0 0.94rem; opacity:0.3;}
         &.active a{opacity:1;}
      }
   }
   .lower{text-align: center; font-size: 0; display: block; clear:both; padding:0.81rem 0; background:@base-3; z-index: 21; position: relative;
      
      .logo{font-size:1.63rem; text-decoration: none; font-weight: 900; color:@text-1; display: inline-block;
         img{height:2.81rem; display: inline-block; vertical-align: middle; margin-right:0.8rem;}
      }
      
   }
}

nav.mobile{position: fixed; top:0; left:0; right:0; bottom:0; background:@base-1; color:@text-2; z-index: 999;
   transform: translateX(-100%); transition:transform 0.5s; 
   
   
   &.active{
      transform:translateX(0);
   }
   ul{padding:0; margin:0;
      li{margin:0; padding:0;
         &:before{display: none; padding:0; margin:0;}
      }
   }
   
   .before-close{position: absolute; width:5.63rem; height:5.63rem; line-height:5.63rem; text-align: center; font-size:1.88rem; top:0; right:0; cursor: pointer;}
   .holder{position: absolute; top:6.56rem; left:1.88rem; right:1.88rem; bottom:1.88rem; overflow: auto;}
   .main{
      a{display:block; color:@text-2; text-decoration: none; font-weight: 700; font-size:1.69rem; margin:0 0 2.5rem 0;}
   }
   .sub{-js-display: flex; display: flex; flex-wrap: wrap; margin-top:3rem;
      li{width:33.3333%;}
      .link{color:@text-2; font-weight: normal; white-space: nowrap;
			&:before{display: inline-block; background:@highlight-1; .border-radius(2rem); width:1.56rem; height:1.56rem; font-size:0.94rem; text-align: center; line-height:1.56rem; vertical-align: middle; color:@text-2;}
			&:hover{color:@highlight-1;}
			&.before-arrow:before{font-size:0.56rem;}
		}
   }
}

.accessibility-settings{background:@base-4; color:@text-2; z-index: 900;
   .accessibility-layer{position: absolute; top:0; height:100%; left:0; right:0; bottom:0; background:#000 !important; z-index: 13; opacity: 0;}
   form, .inline{position: relative; z-index: 14;}
   p b{font-size:1.25rem;}
   .form-item + .form-item{margin-top:@grid-padding;}
   .form-item{
      label{-js-display: flex; display: flex;
         .label-title { max-width: 100%; display: block; flex-shrink: 1;}
      }
      .customRadio{min-width:1.56rem; max-width:1.56rem;
         .indicator{background:@base-3;}
      }
      &.large{font-size:1.4rem;}
      &.x-large{font-size:1.8rem;}
      &.high-contrast{color:yellow; background:black; padding:1rem; margin-left:-1rem; margin-right:-1rem;}
   }
}