//main: build.less

@font: "montserrat, Roboto";
@font-2: "Roboto";

@background: #EFEFEF;

@highlight-1: #00B2A9;
@highlight-1-hover: #00857F;
@highlight-1-light: #80D8D4;

@highlight-2: #0062B2;
@highlight-2-hover: #008EB2;

@text-1: #363636;
@text-2: #fff;
@text-3: #000;
@text-4: #898989;
@text-5: #797D84;
@text-6: #595959;

@base-1: #3D4550;
@base-2: #555C66;
@base-3: #fff;
@base-4: #484848;
@base-5: #F2F2F2;
@base-6: #999999;
@base-7: #EFEFEF;
@base-8: #E6E6E6;

@border-1: #E6E6E6;
@border-2: #999999;
@border-3: #868B92;

@grid-padding: 1.25rem;


@notification-information: #0062B2;
@notification-danger: #FE4A49;

.highlight-1{color:@highlight-1;}

.inline{max-width:1500px; margin:0 auto; padding:0 60px;}

.text-right{text-align: right;}
.text-left{text-align: left;}

.pull-right{float:right;}
.pull-left{float:left;}

.py-3{padding: @grid-padding 0;}

.border-radius(@px){
   -webkit-border-radius:@px; border-radius:@px;
}

.clearBoth{
   &:before{content:" "; display: block; width:100%; height:0; clear:both; overflow: hidden;}
   &:after{content:" "; display: block; width:100%; height:0; clear:both; overflow: hidden;}
}

.placeholder{
   &::-webkit-input-placeholder {opacity:1;}
   &:-moz-placeholder{opacity:1;}
   &::-moz-placeholder{opacity:1;}
   &:-ms-input-placeholder {opacity:1;}
   &:placeholder-shown{opacity:1;}
}