<div class="calendar-container"> 
   
   <div class="calendar-toolbar">
      <span class="before-arrow_left" rel="previousMonth"></span>
      <span class="calendar-toolbar_date">{{ activeMonth }} {{ activeYear }}</span>
      <span class="before-arrow_right" rel="nextMonth"></span>
   </div><!--/calendar-toolbar-->

   <div class="calendar-dayNames">
      {% for day in dayNames %}
         <div>{{ day }}</div>
      {% endfor %}
   </div><!--/dayNames-->

   <div class="calendar-days">


      {% for row in data %}
         <div class="calendar-row">
            {% for day in row %}

               {% if day.list.length == 0 %}
                  <div class="calendar-day {% if day.isToday %}calendar-day_today{%endif%}">
                     <div class="calendar-day_number">{{ day.number }}.</div>
                  </div><!--/calendar-day-->
               {% else %}
                  <div class="calendar-day has-click {% if day.isToday %}calendar-day_today{%endif%}" data-date="{{ day.date }}" data-dateString="{{ day.dateString }}">
                     <div class="calendar-day_number">{{ day.number }}.</div>
                     {% if day.list.length > 2 %}
                        {% for entry in day.list %}
                           {% if loop.index <= 1 %}
                              <div class="calendar-entry">
                                 <div class="calendar-entry_time">{{ entry.time }}</div>
                                 <div class="calendar-entry_title">{{ entry.title }}</div>
                              </div><!--/calendar-entry-->
                              <div class="link">+ {{ day.list.length - 1 }} veel</div>
                           {% endif %}
                        {% endfor %}
                     {% else %}
                        {% for entry in day.list %}
                           <div class="calendar-entry">
                              <div class="calendar-entry_time">{{ entry.time }}</div>
                              <div class="calendar-entry_title">{{ entry.title }}</div>
                           </div><!--/calendar-entry-->
                        {% endfor %}
                     {% endif %}
                  </div><!--/calendar-day-->

               {% endif %}
            {% endfor %}
         </div><!--/calendar-row-->
      {% endfor %}

   </div><!--/days-->
   

</div><!--/calendar-container-->