@form-focus: #0062B2;
@form-error: #FE4A49;

.form-item{position: relative;
   .search-txt{display: none;
      &[type='text']{display: none;}
   }
   
   &.padding-right{padding-right:@grid-padding;}
   &+.form-item{margin-top:@grid-padding*2;}
   &.inline{display: inline-block;}
	.form-item_title{font-weight: bold; font-size:0.94rem; display: block; line-height:120%; padding-bottom:0.5rem;
      &.input-height{padding:0.9rem 0; font-size:1rem;}
   }
   
   .form-item_info{float:right; color:@text-4; font-weight: normal;}
   .form-item_label_title{font-weight: bold; display: inline-block; padding-right:@grid-padding*2;}
	input[type='text'], input[type='date'], input[type='password'], input[type='number'], textarea{border:@base-3 2px solid; background:@base-3; font-size:1rem; height:3.13rem; line-height:3rem; padding:0 1.25rem; color:@text-4; display: block; width:100%;
		-webkit-transition:border 0.25s; transition:border 0.25s;
		&:focus{border-color:@form-focus !important;}
    &::-ms-clear { display: none;}
      -webkit-user-select: text !important; user-select: text !important;
	}
   [data-plugin='datepickerRange'], [data-plugin='datepickerSingle']{cursor: pointer;}
   textarea{height:6.25rem; line-height:140%; padding:1rem 1.25rem;}
	&.form-error{
		input[type='text'], input[type='date'], input[type='number']{border-color:@form-error;}
	}
	label{line-height:1.56rem; margin-right:@grid-padding; cursor:pointer;
      &.input-height{padding:0.8rem 0; display: block;}
      &.auto-width{ min-width:0 !important; padding-right:0 !important; margin-right:0;
         &~.label-title{padding-right:0.5rem;}
      }
      &~.label-title{padding-left:0.5rem;}
      &+.label-title{padding-left:0rem;}
   }
	
   
	&.rounded-corners{
		input[type='text'], input[type='date'], input[type='password'], input[type='number']{.border-radius(2rem);}
	}
	
	&.activated{z-index: 10;}
	
	&>i{position: absolute; bottom:0; right:0; line-height:3.13rem; color:@text-4; font-size:1.56rem; width:4.06rem; text-align: center; pointer-events: none;
		& ~ input[type="text"] { padding-right: 3rem;}
	}
	&>i[class*='before-']{left:0; right:auto;
		& ~ input[type="text"] { padding-left: 3rem;}

		&.before-close{ display: none; pointer-events: auto; cursor: pointer; font-size:1rem;
			& ~ input[type="text"] { padding-left:1.25rem !important;}
			&.visible{display: block;
				& ~ input[type="text"] { padding-left: 3rem !important;}
			}
		}
	}
   
   &.size-xs{display: inline-block; white-space: nowrap; width:auto;
      .form-item_title{display: inline-block; padding:0 0.94rem; font-weight: normal;}
      &+.form-item{margin-top:0;}
      input{padding-left:0; padding-right:0; text-align: center; width:3.13rem; display: inline-block;}
   }
   
   &.multiple{margin:0 0 1rem 0;
      label{display: inline-block; min-width:13.25rem; padding-right:1rem; vertical-align: top;}
      input{display: inline-block; width:6.25rem;}
      select, .SumoSelect, .wide{display: inline-block; width:25.5rem;}
      .CaptionCont label{display: none;}
      .options label{min-width:0;}
   }
   
}

.autocomplete-dropdown{position: absolute; top:3.13rem; left:0; width:100%; background:@base-3; border:@border-1 2px solid;
	ul, li{margin:0; padding:0; list-style: none;
		&:before{display: none;}
		div{line-height:100%; padding:1.06rem 1.25rem; color:@text-1;
			&:hover{background:@highlight-1-light; color:@text-2; cursor: pointer;}
		}
	}
	.autocomplete-scroll{max-height:300px; overflow: auto; display: block;}
}

.block{
	.form-item{
		input[type='text'], input[type='date'], input[type='number'], textarea{background:@base-7; border-color:@base-7;}
	}
	.SumoSelect{
		.CaptionCont{background:@base-7; border-color:@base-7;}
		.optWrapper{background:@base-7;}
      
	}
}

.customRadio{display: inline-block; width:1.56rem; height:1.56rem; position: relative; vertical-align: top; margin-right:0.5rem; 
	input{position: absolute; top:0; left:0; width:100% !important; height:100%; opacity:0; min-width:100% !important; max-width:100% !important; }
	.indicator{position: absolute; top:0; left:0; width:100%; height:100%; border:@border-1 1px solid; .border-radius(2rem); -webkit-transition:border 0.25s; transition:border 0.25s;
		&:before{position: absolute; top:0.31rem; left:0.31rem; right:0.31rem; bottom:0.31rem; background:@border-1; content:" "; display: block; .border-radius(2rem); opacity:0; transition:opacity 0.25s;}
	}
	
	input:checked + .indicator{border-color:@highlight-1;
		&:before{opacity:1; background:@highlight-1;}
	}
}

.customCheckbox{display: inline-block; width:1.56rem; height:1.56rem; position: relative; vertical-align: top; margin-right:0.5rem; 
	input{position: absolute; top:0; left:0; width:100% !important; height:100%; opacity:0; min-width:100% !important; max-width:100% !important; }
	
   &.filled{
      .indicator{background:@base-3;}
   }
	.indicator{position: absolute; top:0; left:0; width:100%; height:100%; border:@border-1 1px solid; .border-radius(0.19rem); line-height:1.4375rem;
		
		.before-tick;
		&:before{position: absolute; top:0; left:0; width:100%; height:1.4375rem; text-align: center; color:@text-2; font-size:0.63rem; margin-top:-0.5rem; opacity:0;
			
		}
	}
	
	input:checked+.indicator{background:@highlight-1; border-color:@highlight-1;
		&:before{margin-top:0; opacity:1;}
	}
   
   &.size-l{width:1.88rem; height:1.88rem;
      .indicator{
         &:before{line-height:1.88rem;}
      }
      &+.label-title{line-height:1.88rem;}
   }
}

.partial-checked{
	.customCheckbox{
		.indicator{background:@highlight-1; border-color:@highlight-1;
			&:before{margin-top:0; opacity:1; font-weight: bold; font-size: 0.9375rem !important;}
			.before-minus;
		}
	}
}

.daterangepicker{position: absolute; z-index: 999; background:@base-3; .border-radius(0.5rem); padding:@grid-padding; margin-top:1.88rem; display: none;
	-webkit-box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1); box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
	
	&:before{top: -1.86rem; left: 50%; border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none; margin-left:-0.94rem;}
	&:before {border-color: rgba(0, 0, 0, 0);border-bottom-color: @base-3; border-width: 0.94rem;margin-left: -0.94rem;}
	
	.daterangepicker_input{display: none;}
	.calendar{ float:left;
		&.right{position: relative; margin-left:@grid-padding; padding-left:@grid-padding;
			&:before{position: absolute; top:15px; left:0; width:1px; bottom:0; background:@border-1; content:" "; display: block; overflow: hidden;}
		}
	}
   
   &.opensleft{
      &:before{left:auto; right:80px;}
   }
   &.dropup{margin-top:-1.88rem;
      &:before{display: none;}
      &:after{bottom: -1.86rem; left: 50%; border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none; margin-left:-0.94rem;}
	  &:after {border-color: rgba(0, 0, 0, 0);border-top-color: @base-3; border-width: 0.94rem;margin-left: -0.94rem;}
   }
	.calendar-table{
		table{width:100%; border-collapse: collapse; border:none;
			th{font-weight:900; color:@text-4; padding-bottom:0.75rem;}
			.month{color:@text-1; font-size:1.13rem; vertical-align: middle; padding-bottom:0.63rem;}
			td{text-align: center; padding:0 0 2px 0;position: relative;
				span{width:35px; height:35px; display: inline-block; line-height:35px; position: relative; z-index: 2;}
				&.off span{color:@text-4;}
				&:hover span{color:@highlight-1; cursor: pointer;}

				
				&.in-range span{background:@base-7;}
				
				&.start-date~.in-range{
					span{background:@base-7;}
					&.end-date span{background:@highlight-1;}
				}
				&.start-date+.in-range{
					&:before{content:" "; position: absolute; top:0; bottom:2px; left:-50%; width:50%; background:@base-7;}
				}
				
				&.in-range+.end-date{
					&:before{content:" "; position: absolute; top:0; bottom:2px; left:0; width:50%; background:@base-7;}
				}
				
				&:first-child span{.border-radius(2rem 0 0 2rem);}
				&:last-child span{.border-radius(0 2rem 2rem 0);}
				
				&.in-range{
					
					&:hover{span{.border-radius(0 2rem 2rem 0);} }
					&.end-date:hover span{.border-radius(2rem);}
				}
				
				&.in-range:hover+.in-range{
					&:before{display: none;}
					span{.border-radius(2rem 0 0 2rem);}
					&:last-child span{.border-radius(2rem);}
					&.end-date span{.border-radius(2rem);}
				}
				&.in-range:first-child:hover span{.border-radius(2rem);}
				
				
				&.active span{background:@highlight-1; color:@text-2; .border-radius(2rem);}
				&.end-date{
					span{background:@highlight-1; color:@text-2; .border-radius(2rem);}
				}
				
				&.start-date+.end-date{
					&:before{content:" "; position: absolute; top:0; bottom:2px; left:-50%; width:100%; background:@base-7;}
					span{background:@highlight-1;}
					&:hover span{.border-radius(2rem);}
				}
				
				
			}
		}
		.prev, .next{cursor: pointer; font-size:1.25rem; color:@text-1; padding-bottom:0.63rem; 
			&.prev{ i{.before-arrow_left; font-style:normal; } }
			&.next{ i{.before-arrow_right; font-style:normal; } }
			&:hover{color:@highlight-1;}
		}
	}
}

.customInput{position: relative; display: inline-block; cursor: pointer;
   input{position: absolute; top:0; left:0; width:100%; height:100%; opacity: 0; cursor: pointer;}
   &+.customInput{margin-left:2.5rem;}
   &.half-margin+.customInput{margin-left:0.94rem;}
}

.col-3 .form-item [data-plugin="datepickerRange"]{font-size:0.81rem;}

.sumoStopScroll{overflow:hidden;}

/* Filtering style */
.SumoSelect .hidden { display:none; }
.SumoSelect .search-txt{display:none;outline:none;}
.SumoSelect .no-match{display:none;padding: 0.38rem;}
.SumoSelect.open .search-txt{display: inline-block;position: absolute;top: 0;left: 0;width: 100%;margin: 0;padding: 0.31rem 1rem; height:2.8rem; border: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border-radius: 0.31rem;}
.SumoSelect.open>.search>span, .SumoSelect.open>.search>label{visibility:hidden;}

/*this is applied on that hidden select. DO NOT USE display:none; or visiblity:hidden; and Do not override any of these properties. */
.SelectClass, .SumoUnder { position: absolute; top: 0; left: 0; right: 0; height: 100%; width: 100%; border: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }
.SumoSelect > .optWrapper > .options  li.opt label, .SumoSelect > .CaptionCont,.SumoSelect .select-all > label { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

.SumoSelect{display: block; position: relative; cursor: pointer;
	.CaptionCont{display: block; margin:0; padding:0; border:@base-3 2px solid; background:@base-3; font-size:1rem; height:3.13rem; line-height:3rem !important; padding:0 3rem 0 1.25rem; color:@text-4; display: block; width:100%; position: relative; border:@base-3 2px solid; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
      span{padding-right:2rem;}
		.after-arrow_down;
		&:after{font-size:0.63rem; position: absolute; top:0; right:0; height:3.13rem; width:3.75rem; text-align: center; color:@text-3;
			-webkit-transition:-webkit-transform 0.4s; transition:transform 0.4s;
		}
	}
	.optWrapper{position: absolute; top:3.13rem; left:0; width:100%; background:@base-3; max-height:15.25rem; overflow: auto; display: none; border:@border-1 2px solid; border-top:none; margin-top:-2px;
		.MultiControls{display: none;}
		.options{padding:0; margin:0; list-style:none;
         li{display: none;
            &:before{display: none;}
         }
			.opt, .group{display: block;  padding:0.69rem 1.25rem; line-height:1.69rem; color:@text-3;  cursor: pointer; margin:0;
            &.hidden{display: none;}
				&:before{display: none;}
				*{cursor: pointer;}
				&:hover, &.sel{color:@highlight-1-light;}
				&.selected{background:@highlight-1-light; color:@text-2;}
			}
         .group .opt{margin:0 -1.25rem; padding-left:1.5rem; padding-right:1.5rem;}
         
         .group > label{font-weight: bold; color:@text-3; padding-bottom:0.5rem; display: block; margin-right: 0;}
         ul{margin:0;}
         
		}
		&.multiple{max-height:15.56rem;
			.options{
				.opt{background:transparent; border-bottom:@border-1 1px solid;
					&:last-child{border-bottom:none;}
					&.selected{color:@text-3;}
					&:hover{color:@highlight-1-light;}
				}
				.opt > span {width:1.69rem; height:1.69rem; background:@base-3; display: inline-block; vertical-align: top; margin:0 10px 0 0; .border-radius(0.19rem); border:@border-1 1px solid;  position: relative;
					-webkit-transition:background 0.25s, border 0.25s; transition:background 0.25s, border 0.25s;
					i{.before-tick; font-style:normal; font-size:10px; line-height:1.56rem; position: absolute; top:0; left:0; width:100%; height:100%; text-align: center; color:@text-2; opacity:0; margin-top:-0.5rem;
						-webkit-transition:opacity 0.25s, margin 0.25s; -webkit-transition-delay: 0.15s; transition:opacity 0.25s, margin 0.25s; transition-delay: 0.15s;
					}
				}
				.opt.selected > span{background:@highlight-1; border-color:@highlight-1;
					i{opacity:1; margin-top:0;}
				}
			}
		}
      &.up{top:auto; bottom:3.13rem; margin-bottom:-2px;}
	}
	&.open{z-index: 10;
		.CaptionCont{border-color:@border-1;}
		.optWrapper{display: block;}
		.CaptionCont:after{-webkit-transform:rotate(180deg); transform:rotate(180deg);}

	}
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}