@columnCount: 12; // How many columns are in a row? If it's not 12 then get a new designer.

//DO NOT TOUCH START
.grid-values (@index) when (@index > 0) {
	@tmpWidth: @index / @columnCount * 100;
	.col-@{index}{width:~"@{tmpWidth}%"; padding:@grid-padding @grid-padding/2;}
   
   @media screen and(max-width:1100px){
      .md-@{index}{width:~"@{tmpWidth}% !important";  padding:@grid-padding @grid-padding/2;}
   }
   @media screen and(max-width:@smMaxWidth){
      .sm-@{index}{width:~"@{tmpWidth}% !important";  padding:@grid-padding @grid-padding/2;}
   }
	.grid-values(@index - 1);
}
//DO NOT TOUCH END
.sm-show{display: none;}
@media screen and(max-width:@smMaxWidth){
   .sm-hide{display: none !important;}
   .sm-show{display: block;}
}

.row{-js-display: flex; display: flex; flex-wrap: wrap;
	.grid-values(@columnCount);
	.row{margin:0 -@grid-padding/2;
      &:first-child{margin-top:-@grid-padding;}
   }
	.flex-center{-js-display: flex; display: flex; align-items: center;}
	.col-inline{width:100%;}
	&.bottom-spacing{margin-bottom:@grid-padding*2;}
   
   .block{
      &>.row.separator{padding:@grid-padding/2 0; margin:0 -@grid-padding*2;
         &>[class*='col-']{border-right:@border-1 2px solid; padding:0.81rem @grid-padding*2;
            &:last-child{border-right:none;}
         }
      }   
   }
   
   /*
   &.narrow{padding:0 @grid-padding/2;
      [class*='col-']{padding:@grid-padding @grid-padding/2;}
      .row{margin:-@grid-padding -@grid-padding/2;
         [class*='col-']{padding:@grid-padding @grid-padding/2;}
      }
   }
   */
   
   .vertical-half{
      [class*='col-']{padding-top:@grid-padding/2; padding-bottom:@grid-padding/2;}
   }
   
   .vertical-center{-js-display: flex; display: flex; align-content: center; align-items: center; justify-content: flex-end;}
   
   &.pull-up{margin-top:-@grid-padding*1.3;}
   &.no-margin{margin-bottom:-@grid-padding;}
   &.customWidths-1{
      .col-6{width:34%;}
      .col-2{width:22%;}
   }
   
   .stretch-content{-js-display: flex; display: flex; flex-direction: column;
      padding-bottom:0;
      &>div{flex-grow: 1;}
   }
   
}