@smMaxWidth: 640px;

.sm-show{display: none !important;}

.mobile-css{
   body{padding-top:9.2rem;}
   .sm-show{display: block !important;}
   .row.sm-show{display: flex !important;}
   
   html{font-size:12px;}
   .inline{padding:0 1.25rem;}
   
   .full-banner{padding:3.44rem 0 3.75rem 0;
      .row{position: relative;}
      .placeholder{display:none;}
      h1,h2,h3,h4,h5,h6{margin:0 0 2.06rem 0;}
      .link{display: block; text-align: left; margin:0 0 1.75rem 0;
         &:last-child{margin-bottom:0;}
      }
      .quick-search{margin:0 0 1.81rem 0;}
      .form-item{vertical-align: top;
         .btn{height:3.05rem;}
      }
   }
   
   .swiper-container{margin:0 -1.88rem; padding:0 5.63rem;
      &:after, &:before{width:5.63rem;}
      .swiper-button-prev{width:5.63rem; left:-5.63rem; margin-left:5.63rem;}
      .swiper-button-next{width:5.63rem; right:-5.63rem; margin-right:5.63rem;}
      &.swiper-inline { margin: 0;}
   }
   h1,h2,h3,h4,h5,h6{
      a.pull-right{float:none; display: block; margin-top:1.44rem;}
   }
   .double-banners{flex-wrap: wrap;
      .entry{width:100%; padding:0 2.81rem; text-align: left;
         &:first-child{padding-right:2.81rem; text-align: left;}
         &:last-child{padding-left:2.81rem; text-align: left;}
         .details{width:100%; padding:5.06rem 0 11.69rem 0; min-width:0; width:100%;}
      }
   }
   .category-spacer{margin:@grid-padding*2 0; overflow: visible; background: none; height: auto; font-size: 30px; font-weight: 900;}
   .accent-background{
      h1,h2,h3,h4,h5,h6{text-align: center;}
   }
   
   .overlay .overlay-inline{padding:4rem 2.13rem 3.5rem 2.13rem;}
   
   .header-search{margin-top:-4.7rem;
      .form-item input[type="text"]{font-size:1.19rem; height:2rem; line-height:2rem;}
      .before-search{width:6.06rem; color:@text-2; margin-right:-1.88rem; font-size:1.88rem; appearance:none; border:none; background:none; display: inline-block; cursor: pointer;}
      &:after{opacity:0; content:" "; display: block; position: fixed; top:9.2rem; left:0; bottom:0; right:0; background:rgba(0,0,0,0.5); z-index: 20; pointer-events: none;
         transition:top 0.25s, opacity 0.5s;
      }
      &.visible{ margin-top: 0;
         &:after{opacity:1; top:12rem; pointer-events: auto;}
      }
   }
   
   .tags{
      li{display: none;
         &:nth-child(1), &:nth-child(2), &:nth-child(3){display: inline-block;}
      }

   }
   
   .row{
      &.sm-overflow{margin-left:-(@grid-padding*2); margin-right:-(@grid-padding*2); margin-top:-@grid-padding*2;
         &+.sm-overflow{margin-top:0;}
      }
      .stretch-content{
         
         
         .block-gray{margin-left:0; margin-top:-@grid-padding;}
      }
   }
   
   h5+table.main{margin-top:-@grid-padding;}
   table.main{display: block; margin-bottom:0;
      tbody{display: block;}
      thead{display: none;}
      tr{display:block; padding:1rem 0; border-bottom:@border-2 1px solid;
         &:last-child{border-bottom:none;}
      }
      td{display: block; border-bottom:none !important; padding:0.4rem 0;}

   }
   table.interests{width:auto;
      tbody{display: table; width:100%;
         td{ padding:@grid-padding/2 @grid-padding*1.5;}
         tr{
            td[colspan]{padding-top:@grid-padding;padding-bottom:@grid-padding;}
         }
         
         tr:first-child{
            td{padding-top:@grid-padding*2;}
         }
         tr:last-child{
            td{padding-bottom:@grid-padding*2;}
         }
      }
   }
   
   .btn{
      &.sm-stretch{width:100%; text-align: center; display: block;}
   }
   
   article{
      .text-wrapper{max-height:14.06rem; overflow: hidden; position: relative;
         &:after{content:" "; display: block; position: absolute; bottom:0; left:0; right:0; height:7rem;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+84 */
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 84%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 84%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


         }
         &.full-text{max-height:999rem;
            &:after{display: none;}
         }
         &+.link.sm-show{margin-top:@grid-padding;
            &.hidden{display: none !important;}
         }
      }
      
   }
   
   
   .filter-wrapper{position: fixed; top:0; left:0; width:100%; height:100%; z-index: 999; background:@base-3; display: flex; flex-direction: column;
      transform:translateX(100%); transition:transform 0.5s;
      &.active{transform:translateX(0);}
      .filter-scroller{flex-grow:1; overflow: auto; -webkit-overflow-scrolling: touch;
         &>.row{margin:0; padding:0 1.88rem;}
         [class*='col-'].reset .link{margin-bottom:-@grid-padding;
            &:after{font-size:0.7rem;}
         }
      }
      .select-filters{padding:1rem 0; position: relative;
         &:before{content:" "; display: block; position: absolute; height:3.5rem; top:-3.5rem; left:0; right:0; background:red; pointer-events: none;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.19+100 */
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.04) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.04) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.04) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#30000000',GradientType=0 ); /* IE6-9 */

         }
      }
      .filter-button{margin-bottom:0;}
   }
   .filter-button{margin-bottom:-(@grid-padding);}
   .narrow-buttons{
      .btn{font-size:0.9rem; padding-left:1.4rem; padding-right:1.4rem;}
   }
   
   .slider-range{margin-top:1rem;
      .knob{width:2rem; height:2rem; top:-0.905rem; cursor: move; .border-radius(1rem);
         span{position:absolute; top:2.38rem; width:4.13rem; left:-1.09rem; }
      }
   }
   
   .customInput{
      &.half-margin + .customInput{margin-left:0.5rem;}
   }
   
   .link.view.sm-show{display: inline-block !important;}
   
   .daterangepicker{
      .calendar.left.single{
         .table-condensed{width:19rem;}
      }
   }

   * {
       -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
       -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
       -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
       -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
   }
   
   .logos { width: 100%;}
   
   footer.main{
      .sm-12 center{text-align: left;}
   }
   
   .list-item {
      .details { line-height: 1.5;
         .title { margin-top: 0.5rem; margin-bottom: 1rem; font-size: 1.5rem; line-height: 1.2;}
      }
   }
   
   #eventTable { margin-bottom: 1.5rem;
      tr.eventItem { 
         &.visible-row { display: block !important;}
      }
   }
   .sm-hide{display: none;}
   .sm-show{display: block;}
   
   .filter-tags.empty { display: none !important;}
   
   .tingle-modal { display: flex;
      &.tingle-newsletter {
         .tingle-modal-box { width: 80%;}
      }
   }
   
   .cookie-notification .col-10 { display: block;
      p { margin-bottom: 1rem;}
   }
   
   .search-filter {
      b, .form-item { display: block; margin-bottom: 1rem;}
   }
   
   .list-view {
      .col-4 { width: 100%;}
   }
   
   #views-exposed-form-general-search-events {
      .row {
         .col-2 { width: 25%;}
         .col-10 { width: 75%;}
      }
   }
   .scroll-to-top{left:auto; right:@grid-padding*1.5 !important; margin:0 !important; position: fixed !important;}
}

@media screen and(max-width:@smMaxWidth){
   .mobile-css;
}

html.mobile{
   .mobile-css;
}
html.mobile.landscape{font-size:12px;}


.tablet.landscape{font-size:10px !important;}
.tablet.portrait{font-size:16px !important;}

.no-responsive-html { font-size: 16px;
   body { padding: 0 !important; font-size: 16px;
      .inline { min-width: 1200px}
   }
   .sm-show { display: none !important;}
   .sm-hide { display: block !important;}
   &.mobile {
      .sm-show { display: none !important;}
      .sm-hide { display: block !important;}
   }
}
