<div class="swiper-container" data-plugin="caroussel">
   <div class="swiper-button-next"></div>
   <div class="swiper-button-prev"></div>
   
   <div class="swiper-holder">
   

      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <div class="list-item">
               
               <span class="image" style="background-image:url(assets/tmp/list-1.jpg)">
                  <a href=""><img src="assets/imgs/placeholder-56.gif" class="placeholder" /></a>
                  <ul class="tags filled">
                     <li class="tag-3"><a href="">muusika</a></li>
                  </ul>
               </span><!--/image-->
               <a href="" class="details">
                  <span class="title">Pöff 20</span>
                  <span class="info">
                     <p class="before-location">Athena keskus</p>
                     <p class="before-calendar">11.11.2016 - 27.11.2016</p>
                  </span><!--/info-->
               </a><!--/details-->
            </div><!--/list-item-->
         </div><!--/swiper-slide-->

         <div class="swiper-slide">
            <div class="list-item">
               <span class="image" style="background-image:url(assets/tmp/list-2.jpg)">
                  <a href=""><img src="assets/imgs/placeholder-56.gif" class="placeholder" /></a>
                  <ul class="tags filled">
                     <li class="tag-2"><a href="">film</a></li>
                  </ul>
               </span><!--/image-->
               <a href="" class="details">
                  <span class="title">Meister ja Margarita</span>
                  <span class="info">
                     <p class="before-location">Teater Vanemuine</p>
                     <p class="before-calendar">15.11.2016 + 20 etendust</p>
                  </span><!--/info-->
               </a><!--/details-->
            </div><!--/list-item-->
         </div><!--/swiper-slide-->

         <div class="swiper-slide">
            <div class="list-item">
               <span class="image" style="background-image:url(assets/tmp/list-3.jpg)">
                  <a href=""><img src="assets/imgs/placeholder-56.gif" class="placeholder" /></a>
                  <ul class="tags filled">
                     <li class="tag-1"><a href="">teater</a></li>
                  </ul>
               </span><!--/image-->
               <a href="" class="details">
                  <span class="title">Genialistide Klubi nädalakava</span>
                  <span class="info">
                     <p class="before-location">Genialistide klubi</p>
                     <p class="before-calendar">14.11.2016 - 20.11.2016</p>
                  </span><!--/info-->
               </a><!--/details-->
            </div><!--/list-item-->
         </div><!--/swiper-slide-->

         <div class="swiper-slide">
            <div class="list-item">
               <span class="image" style="background-image:url(assets/tmp/list-4.jpg)">
                  <a href=""><img src="assets/imgs/placeholder-56.gif" class="placeholder" /></a>
                  <ul class="tags filled">
                     <li class="tag-3"><a href="">muusika</a></li>
                  </ul>
               </span><!--/image-->
               <a href="" class="details">
                  <span class="title">Legomaania</span>
                  <span class="info">
                     <p class="before-location">Tartu Mänguasjamuuseum</p>
                     <p class="before-calendar">13.11.2016 - 26.03.2017</p>
                  </span><!--/info-->
               </a><!--/details-->
            </div><!--/list-item-->
         </div><!--/swiper-slide-->

         <div class="swiper-slide">
            <div class="list-item">
               <span class="image" style="background-image:url(assets/tmp/list-1.jpg)">
                  <a href=""><img src="assets/imgs/placeholder-56.gif" class="placeholder" /></a>
                  <ul class="tags filled">
                     <li class="tag-4"><a href="">näitus</a></li>
                  </ul>
               </span><!--/image-->
               <a href="" class="details">
                  <span class="title">Pöff 20</span>
                  <span class="info">
                     <p class="before-location">Athena keskus</p>
                     <p class="before-calendar">11.11.2016 - 27.11.2016</p>
                  </span><!--/info-->
               </a><!--/details-->
            </div><!--/list-item-->
         </div><!--/swiper-slide-->

         <div class="swiper-slide">
            <div class="list-item">
               <span class="image" style="background-image:url(assets/tmp/list-2.jpg)">
                  <a href=""><img src="assets/imgs/placeholder-56.gif" class="placeholder" /></a>
                  <ul class="tags filled">
                     <li class="tag-4"><a href="">kunst/käsitöö</a></li>
                  </ul>
               </span><!--/image-->
               <a href="" class="details">
                  <span class="title">Meister ja Margarita</span>
                  <span class="info">
                     <p class="before-location">Teater Vanemuine</p>
                     <p class="before-calendar">15.11.2016 + 20 etendust</p>
                  </span><!--/info-->
               </a><!--/details-->
            </div><!--/list-item-->
         </div><!--/swiper-slide-->

         <div class="swiper-slide">
            <div class="list-item">
               <span class="image" style="background-image:url(assets/tmp/list-3.jpg)">
                  <a href=""><img src="assets/imgs/placeholder-56.gif" class="placeholder" /></a>
                  <ul class="tags filled">
                     <li class="tag-4"><a href="">kunst/käsitöö</a></li>
                  </ul>
               </span><!--/image-->
               <a href="" class="details">
                  <span class="title">Genialistide Klubi nädalakava</span>
                  <span class="info">
                     <p class="before-location">Genialistide klubi</p>
                     <p class="before-calendar">14.11.2016 - 20.11.2016</p>
                  </span><!--/info-->
               </a><!--/details-->
            </div><!--/list-item-->
         </div><!--/swiper-slide-->

         <div class="swiper-slide">
            <div class="list-item">
               <span class="image" style="background-image:url(assets/tmp/list-4.jpg)">
                  <a href=""><img src="assets/imgs/placeholder-56.gif" class="placeholder" /></a>
                  <ul class="tags filled">
                     <li class="tag-4"><a href="">kunst/käsitöö</a></li>
                  </ul>
               </span><!--/image-->
               <a href="" class="details">
                  <span class="title">Legomaania</span>
                  <span class="info">
                     <p class="before-location">Tartu Mänguasjamuuseum</p>
                     <p class="before-calendar">13.11.2016 - 26.03.2017</p>
                  </span><!--/info-->
               </a><!--/details-->
            </div><!--/list-item-->
         </div><!--/swiper-slide-->

         <div class="swiper-slide">
            <div class="list-item">
               <span class="image" style="background-image:url(assets/tmp/list-1.jpg)">
                  <a href=""><img src="assets/imgs/placeholder-56.gif" class="placeholder" /></a>
                  <ul class="tags filled">
                     <li class="tag-4"><a href="">kunst/käsitöö</a></li>
                  </ul>
               </span><!--/image-->
               <a href="" class="details">
                  <span class="title">Pöff 20</span>
                  <span class="info">
                     <p class="before-location">Athena keskus</p>
                     <p class="before-calendar">11.11.2016 - 27.11.2016</p>
                  </span><!--/info-->
               </a><!--/details-->
            </div><!--/list-item-->
         </div><!--/swiper-slide-->

         <div class="swiper-slide">
            <div class="list-item">
               <span class="image" style="background-image:url(assets/tmp/list-2.jpg)">
                  <a href=""><img src="assets/imgs/placeholder-56.gif" class="placeholder" /></a>
                  <ul class="tags filled">
                     <li class="tag-4"><a href="">kunst/käsitöö</a></li>
                  </ul>
               </span><!--/image-->
               <a href="" class="details">
                  <span class="title">Meister ja Margarita</span>
                  <span class="info">
                     <p class="before-location">Teater Vanemuine</p>
                     <p class="before-calendar">15.11.2016 + 20 etendust</p>
                  </span><!--/info-->
               </a><!--/details-->
            </div><!--/list-item-->
         </div><!--/swiper-slide-->

         <div class="swiper-slide">
            <div class="list-item">
               <span class="image" style="background-image:url(assets/tmp/list-3.jpg)">
                  <a href=""><img src="assets/imgs/placeholder-56.gif" class="placeholder" /></a>
                  <ul class="tags filled">
                     <li class="tag-4"><a href="">kunst/käsitöö</a></li>
                  </ul>
               </span><!--/image-->
               <a href="" class="details">
                  <span class="title">Genialistide Klubi nädalakava</span>
                  <span class="info">
                     <p class="before-location">Genialistide klubi</p>
                     <p class="before-calendar">14.11.2016 - 20.11.2016</p>
                  </span><!--/info-->
               </a><!--/details-->
            </div><!--/list-item-->
         </div><!--/swiper-slide-->

         <div class="swiper-slide">
            <div class="list-item">
               <span class="image" style="background-image:url(assets/tmp/list-4.jpg)">
                  <a href=""><img src="assets/imgs/placeholder-56.gif" class="placeholder" /></a>
                  <ul class="tags filled">
                     <li class="tag-4"><a href="">kunst/käsitöö</a></li>
                  </ul>
               </span><!--/image-->
               <a href="" class="details">
                  <span class="title">Legomaania</span>
                  <span class="info">
                     <p class="before-location">Tartu Mänguasjamuuseum</p>
                     <p class="before-calendar">13.11.2016 - 26.03.2017</p>
                  </span><!--/info-->
               </a><!--/details-->
            </div><!--/list-item-->
         </div><!--/swiper-slide-->

         <div class="swiper-slide">
            <div class="list-item">
               <span class="image" style="background-image:url(assets/tmp/list-1.jpg)">
                  <a href=""><img src="assets/imgs/placeholder-56.gif" class="placeholder" /></a>
                  <ul class="tags filled">
                     <li class="tag-4"><a href="">kunst/käsitöö</a></li>
                  </ul>
               </span><!--/image-->
               <a href="" class="details">
                  <span class="title">Pöff 20</span>
                  <span class="info">
                     <p class="before-location">Athena keskus</p>
                     <p class="before-calendar">11.11.2016 - 27.11.2016</p>
                  </span><!--/info-->
               </a><!--/details-->
            </div><!--/list-item-->
         </div><!--/swiper-slide-->


      </div><!--/swiper-wrapper-->

   </div><!--/swiper-holder-->
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
</div>