<div class="row sm-hide">
   <div class="col-10">
      <div class="form-item rounded-corners">
         <input type="text" name="title" placeholder="Otsi sündmus: nimetus / asukoht . . ." data-plugin="autocomplete" data-url="api/autocomplete.json" />
      </div><!--/form-item-->
   </div><!--/col-10-->
   <div class="col-2">
      <button class="btn stretch">Otsi</button>
   </div><!--/col-2-->
</div><!--/row-->

<div class="row" data-plugin="inputCancel" data-cancels="starting_time">
   <div class="col-12">
      <label class="customInput half-margin">
         <input type="checkbox" name="day" value="e">
         <span class="btn btn-plain circle">E</span>
      </label>
      <label class="customInput half-margin">
         <input type="checkbox" name="day" value="t">
         <span class="btn btn-plain circle">T</span>
      </label>
      <label class="customInput half-margin">
         <input type="checkbox" name="day" value="k">
         <span class="btn btn-plain circle">K</span>
      </label>
      <label class="customInput half-margin">
         <input type="checkbox" name="day" value="n">
         <span class="btn btn-plain circle">N</span>
      </label>
      <label class="customInput half-margin">
         <input type="checkbox" name="day" value="r">
         <span class="btn btn-plain circle">R</span>
      </label>
      <label class="customInput half-margin">
         <input type="checkbox" name="day" value="l">
         <span class="btn btn-plain circle">L</span>
      </label>
      <label class="customInput half-margin">
         <input type="checkbox" name="day" value="p">
         <span class="btn btn-plain circle">P</span>
      </label>
   </div><!--/col-12-->
</div><!--/row-->

<div class="row sm-hide">
   <div class="col-9">
      
      <div class="narrow-buttons">
		  
         <b class="sm-hide">Vali alguse aeg:</b>
         
         <label class="customInput">
            <input type="radio" name="starting_time" value="1" data-date="21.08.2017 - 27.08.2017">
            <span class="btn btn-plain">Sel nädalal</span>
         </label>
         <label class="customInput">
            <input type="radio" name="starting_time" value="2" data-date="28.08.2017 - 03.09.2017">
            <span class="btn btn-plain">Järgmisel nädalal</span>
         </label>
         <label class="customInput">
            <input type="radio" name="starting_time" value="3" data-date="21.08.2017 - 21.09.2017">
            <span class="btn btn-plain">30 päeva</span>
         </label>
         

         <span class="btn-spacing pull-right sm-hide"></span>
		  
      </div><!--/narrow-buttons-->
      
   </div><!--/col-9-->
   <div class="col-3">
      <div class="form-item rounded-corners">
        <i class="after-calendar"></i>
        <i class="before-close" data-plugin="resetField"></i>
         
         <input data-plugin="datepickerRange" data-relatives="starting_time" placeholder="Vali kuupäev" type="text" name="date" />
      </div><!--/form-item rounded-corners-->
      
   </div><!--/col-3-->
</div><!--/row-->

<div class="row">
   <div class="col-6 sm-hide">
      <div class="form-item">
         <label>
            <span class="customCheckbox filled">
               <input name="unfilled" type="checkbox">
               <span class="indicator"></span>
            </span><!--/customRadio-->
            <span class="label-title">Näita täitumata rühmadega huvitegevusi</span>
         </label>
      </div><!--/form-item-->
   </div><!--/col-6-->
   
   <div class="col-6 text-right sm-12">
      <a data-view="grid-view" href="#" class="link view before-grid sm-show">Ruudustik</a>
      <a data-view="list-view" href="#" class="link view before-list sm-hide">Nimekiri</a>
      <a data-view="map-view" href="#" class="link view before-location">Kaart</a>
   </div><!--/col-12-->
</div><!--/row-->