<div class="row sm-hide">
   <div class="col-10">
      <div class="form-item rounded-corners">
         <input type="text" name="title" placeholder="Otsi sündmus: nimetus / asukoht . . ." data-plugin="autocomplete" data-url="api/autocomplete.json" />
      </div><!--/form-item-->
   </div><!--/col-10-->
   <div class="col-2">
      <button class="btn stretch">Otsi</button>
   </div><!--/col-2-->
</div><!--/row-->

<div class="row">
   <div class="col-9 sm-12">
      <div class="narrow-buttons">
         <label class="customInput">
            <input type="checkbox" name="starting_time" value="1" checked="checked" data-date="01.03.2017">
            <span class="btn btn-plain">Täna</span>
         </label>
         <label class="customInput">
            <input type="checkbox" name="starting_time" value="2" data-date="03.03.2017">
            <span class="btn btn-plain">Homme</span>
         </label>
         <label class="customInput">
            <input type="checkbox" name="starting_time" value="3" data-date="05.03.2017">
            <span class="btn btn-plain">Nädalavahetus</span>
         </label>

         <span class="btn-spacing sm-hide"></span>
         
         <label class="customInput sm-hide">
            <input type="checkbox" name="day_time" value="1">
            <span class="btn btn-text-only">Hommik</span>
         </label>
         <label class="customInput sm-hide">
            <input type="checkbox" name="day_time" value="2">
            <span class="btn btn-text-only">Lõuna</span>
         </label>
         <label class="customInput sm-hide">
            <input type="checkbox" name="day_time" value="3">
            <span class="btn btn-text-only">Õhtu</span>
         </label>

      </div><!--/narrow-buttons-->
   </div><!--/col-9-->
   <div class="col-3 sm-hide">
      <div class="form-item rounded-corners">
         <i class="after-calendar"></i>
         <input data-plugin="datepickerSingle" data-cancel="starting_time" placeholder="Vali kuupäev" type="text" name="date"/>
      </div><!--/form-item rounded-corners-->
   </div><!--/col-3-->
</div><!--/row-->

<div class="row">
   <div class="col-12 text-right">
      <a data-view="grid-view" href="" class="link view before-grid">Ruudustik</a>
      <a data-view="list-view" href="#" class="link view before-list active sm-hide">Nimekiri</a>
      <a data-view="map-view" href="#" class="link view before-location">Kaart</a>
   </div><!--/col-12-->
</div><!--/row-->