<div class="filter-button sm-show before-filter after-arrow_down" id="filter-trigger">
   <b>Filtreeri</b>
</div><!--/filter-button-->

<div class="filter-wrapper" data-plugin="filterAccordion">
   
   <div class="filter-button sm-show before-filter after-close" rel="closeFilter">
      <b>Filtreeri</b>
   </div><!--/filter-button-->

   <div class="filter-scroller">
      
      <div class="row sm-show">
         <div class="col-12 text-right reset">
           
            <div class="link secondary after-close">Tühista kõik filtrid</div>

         </div><!--/col-12-->
      </div><!--/row-sm-show-->
      
      <div class="row sm-show">
         <div class="col-10">
            <div class="form-item rounded-corners">
               <input type="text" name="title" placeholder="Otsi märksõna" />
            </div><!--/form-item-->
         </div><!--/col-10-->
         <div class="col-2">
            <button class="btn stretch before-search"></button>
         </div><!--/col-2-->
      </div><!--/row-->
      
      <ul class="filter">
          <li class="reset sm-hide">
              <div class="link secondary after-close">Tühista kõik filtrid</div>
           </li>
         <li>
            <div class="filter-title sm-hide" rel="trigger">Vali sihtrühm</div>
            <div class="filter-title sm-show before-users" rel="trigger">Sihtrühm</div>
            <ul>
               <li>
                  <div class="form-item">
                     <label>
                        <span class="customCheckbox">
                           <input name="sihtryhm" value="1" type="checkbox"  checked>
                           <span class="indicator"></span>
                        </span><!--/customRadio-->
                        <span class="label-title">Sihtrühm 1</span>
                     </label>
                  </div><!--/form-item-->
               </li>
               <li>
                  <div class="form-item">
                     <label>
                        <span class="customCheckbox">
                           <input name="sihtryhm" value="2" type="checkbox"  checked>
                           <span class="indicator"></span>
                        </span><!--/customRadio-->
                        <span class="label-title">Sihtrühm 2</span>
                     </label>
                  </div><!--/form-item-->
               </li>
               <li>
                  <div class="form-item">
                     <label>
                        <span class="customCheckbox">
                           <input name="sihtryhm" value="3" type="checkbox"  checked>
                           <span class="indicator"></span>
                        </span><!--/customRadio-->
                        <span class="label-title">Sihtrühm 3</span>
                     </label>
                  </div><!--/form-item-->
               </li>
               <li>
                  <div class="form-item">
                     <label>
                        <span class="customCheckbox">
                           <input name="sihtryhm" value="4" type="checkbox"  checked>
                           <span class="indicator"></span>
                        </span><!--/customRadio-->
                        <span class="label-title">Sihtrühm 4</span>
                     </label>
                  </div><!--/form-item-->
               </li>
            </ul>
         </li>
         <li class="sm-show active">
            <div class="filter-title before-calendar" rel="trigger">Toimumise aeg</div>
            <ul>
               <li class="range-date-wrapper">
                  <div class="form-item rounded-corners">
                     <i class="after-calendar"></i>
                     <div class="form-item_title">Algkuupäev</div>
                     <input data-plugin="datepickerSingle" type="text" name="date-1" rel="start" />
                  </div><!--/form-item-->

                  <div class="form-item rounded-corners">
                     <i class="after-calendar"></i>
                     <div class="form-item_title">Lõppkuupäev</div>
                     <input data-plugin="datepickerSingle" type="text" name="date-2" rel="end"/>
                  </div><!--/form-item-->
               </li>
            </ul>
         </li>
         <li class="active">
            <div class="filter-title sm-hide" rel="trigger">Vali maksumus</div>
            <div class="filter-title sm-show before-money" rel="trigger">Maksumus</div>
            <ul>
               <li class="slider-range-wrapper">
                  <div class="form-item">
                     <label>
                        <span class="customCheckbox">
                           <input name="cost" value="1" type="checkbox" >
                           <span class="indicator"></span>
                        </span><!--/customRadio-->
                        <span class="label-title">Tasuta</span>
                     </label>
                  </div><!--/form-item-->

                  <div class="form-item">
                     <div class="form-item_title">Hinna vahemik:</div>
                     <input type="hidden" name="priceMin" rel="min" value="0">
                     <input type="hidden" name="priceMax" value="40" rel="max">

                     <div class="slider-range" data-plugin="sliderRange" data-min="0" data-max="100" data-unit="€"></div>
                  </div><!--/form-item-->

               </li>

            </ul>
         </li>

         <li class="active">
            <div class="filter-title sm-hide" rel="trigger">Vali valdkond</div>
            <div class="filter-title sm-show before-tags" rel="trigger">Valdkond</div>
            <ul>
               <li>
                  <div class="form-item" rel="trigger">
                     <label>
                        <span class="customCheckbox">
                           <input name="teater" value="all" type="checkbox"  checked>
                           <span class="indicator"></span>
                        </span><!--/customRadio-->
                        <span class="label-title">Teater (155)</span>
                     </label>
                  </div><!--/form-item-->

                  <ul>
                     <li>
                        <div class="form-item">
                           <label>
                              <span class="customCheckbox">
                                 <input name="teater" value="1" type="checkbox"  checked>
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                              <span class="label-title">Draama (17)</span>
                           </label>
                        </div><!--/form-item-->
                     </li>
                     <li>
                        <div class="form-item">
                           <label>
                              <span class="customCheckbox">
                                 <input name="teater" value="2" type="checkbox"  checked>
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                              <span class="label-title">Komöödia (22)</span>
                           </label>
                        </div><!--/form-item-->
                     </li>
                     <li>
                        <div class="form-item">
                           <label>
                              <span class="customCheckbox">
                                 <input name="teater" value="3" type="checkbox"  checked>
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                              <span class="label-title">Lastelavastused (1)</span>
                           </label>
                        </div><!--/form-item-->
                     </li>
                     <li class="hidden">
                        <div class="form-item">
                           <label>
                              <span class="customCheckbox">
                                 <input name="teater" value="4" type="checkbox"  checked>
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                              <span class="label-title">Peidetud 1 (3)</span>
                           </label>
                        </div><!--/form-item-->
                     </li>
                     <li class="hidden">
                        <div class="form-item">
                           <label>
                              <span class="customCheckbox">
                                 <input name="teater" value="5" type="checkbox"  checked>
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                              <span class="label-title">Peidetud 2 (3)</span>
                           </label>
                        </div><!--/form-item-->
                     </li>
                     <li class="hidden">
                        <div class="form-item">
                           <label>
                              <span class="customCheckbox">
                                 <input name="teater" value="6" type="checkbox"  checked>
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                              <span class="label-title">Peidetud 3 (3)</span>
                           </label>
                        </div><!--/form-item-->
                     </li>
                     <li class="show-more">
                        <div class="link after-plus" data-show_less="Näita vähem" data-show_more="Näita veel" >Näita veel</div>
                     </li>
                  </ul>
               </li>
               <li>
                  <div class="form-item" rel="trigger">
                     <label>
                        <span class="customCheckbox">
                           <input name="film" value="all" type="checkbox"  checked>
                           <span class="indicator"></span>
                        </span><!--/customRadio-->
                        <span class="label-title">Film (300)</span>
                     </label>
                  </div><!--/form-item-->

                  <ul>
                     <li>
                        <div class="form-item">
                           <label>
                              <span class="customCheckbox">
                                 <input name="film" value="1" type="checkbox"  checked>
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                              <span class="label-title">Film 1 (17)</span>
                           </label>
                        </div><!--/form-item-->
                     </li>
                     <li>
                        <div class="form-item">
                           <label>
                              <span class="customCheckbox">
                                 <input name="film" value="2" type="checkbox"  checked>
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                              <span class="label-title">Film 2 (22)</span>
                           </label>
                        </div><!--/form-item-->
                     </li>
                     <li>
                        <div class="form-item">
                           <label>
                              <span class="customCheckbox">
                                 <input name="film" value="3" type="checkbox"  checked>
                                 <span class="indicator"></span>
                              </span><!--/customRadio-->
                              <span class="label-title">Film 3 (11)</span>
                           </label>
                        </div><!--/form-item-->
                     </li>
                     <li class="show-more">
                        <a href="" class="link after-plus">Näita veel</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>



      </ul>
   </div><!--/filter-scroller-->
   
   <div class="sm-show select-filters">
      <center>
         <div class="btn" rel="closeFilter">Vali filtrid</div>
      </center>
   </div><!--/sm-show-->
</div><!--/filter-wrapper-->