<div class="accessibility-settings" data-plugin="accessibility" data-show="accessibility">
   <div class="accessibility-layer" data-toggle="accessibility"></div>
   <form>
   <div class="inline">
      <div class="row">
         <div class="col-3">
            <p><b>Teksti suurus</b></p>
            <div class="form-item">
               <label>
                  <span class="customRadio">
                     <input type="radio" name="textSize" value="0" />
                     <span class="indicator"></span>
                  </span><!--/customRadio-->
                  <span class="label-title">Keskmine</span>
               </label>
            </div><!--/form-item-->
            <div class="form-item large">
               <label>
                  <span class="customRadio">
                     <input type="radio" name="textSize" value="1" />
                     <span class="indicator"></span>
                  </span><!--/customRadio-->
                  <span class="label-title">Suur</span>
               </label>
            </div><!--/form-item-->
            <div class="form-item x-large">
               <label>
                  <span class="customRadio">
                     <input type="radio" name="textSize" value="2" />
                     <span class="indicator"></span>
                  </span><!--/customRadio-->
                  <span class="label-title">Ülisuur</span>
               </label>
            </div><!--/form-item-->
         </div><!--/col-3-->
         
         <div class="col-3">
            <p><b>Reavahe</b></p>
            <div class="form-item">
               <label>
                  <span class="customRadio">
                     <input type="radio" name="lineHeight" value="2x" />
                     <span class="indicator"></span>
                  </span><!--/customRadio-->
                  <span class="label-title">2x</span>
               </label>
            </div><!--/form-item-->
            <div class="form-item large">
               <label>
                  <span class="customRadio">
                     <input type="radio" name="lineHeight" value="4x" />
                     <span class="indicator"></span>
                  </span><!--/customRadio-->
                  <span class="label-title">4x</span>
               </label>
            </div><!--/form-item-->
            <div class="form-item x-large">
               <label>
                  <span class="customRadio">
                     <input type="radio" name="lineHeight" value="6x" />
                     <span class="indicator"></span>
                  </span><!--/customRadio-->
                  <span class="label-title">6x</span>
               </label>
            </div><!--/form-item-->
         </div><!--/col-3-->
         
         <div class="col-3">
            <p><b>Kontrastsus</b></p>
            
            <div class="form-item">
               <label>
                  <span class="customRadio">
                     <input type="radio" name="contrast" value="0" />
                     <span class="indicator"></span>
                  </span><!--/customRadio-->
                  <span class="label-title">Tavaline</span>
               </label>
            </div><!--/form-item-->
            
            <div class="form-item high-contrast">
               <label>
                  <span class="customRadio">
                     <input type="radio" name="contrast" value="1" />
                     <span class="indicator"></span>
                  </span><!--/customRadio-->
                  <span class="label-title">Kõrge kontrastsusega (must taust, kollane tekst)</span>
               </label>
            </div><!--/form-item-->
         </div><!--/col-3-->
      </div><!--/row-->
      
      <div class="row">
         <div class="col-6">
            <a href="javascript:void(0);" class="btn" rel="submit">Rakenda seaded</a>
            
            <a href="javascript:void(0);" class="btn btn-plain" rel="reset">Taasta algseaded</a>
         </div><!--/col-6-->
      </div><!--/row-->
   </div><!--/inline-->
   </form>
</div><!--/accessibility-->

<header class="main sm-hide">
   
   <div class="header-search" data-class="'visible' : headerSearch">
      <form method="post" actione="">
      <div class="inline">
         <div class="row">
            <div class="col-6">
               <div class="form-item">
                  <input type="text" placeholder="Sisesta otsingu märksõna" />
               </div><!--/form-item-->
            </div><!--/col-6-->
            <div class="col-6 text-right">
               <div class="before-close" data-toggle="headerSearch"></div>
            </div><!--/col-6-->
         </div><!--/row-->
      </div><!--/inline-->
      </form>
   </div><!--/header-search-->
   
	<div class="inline">
		<div class="row toolbar">
			<div class="col-4">
				<div class="accessibility" data-toggle="accessibility" data-class="'active' : accessibility">
					<span class="decrease">A</span>
					<span class="increase">A</span>
					Vaegnägijatele
				</div><!--/accessibility-->
				<div class="weather">
					13<sup>&#176;</sup>
					<img src="assets/imgs/weather/cloudy.svg" />
				</div><!--/weather-->
			</div><!--/col-4-->
			<div class="col-4 center-links">
				<a href="" class="link before-arrow">Tartu Linn</a>
				<a href="" class="link before-arrow">Turism</a>
				<a href="" class="link before-facebook">Kultuuriaken</a>
			</div><!--/col-4-->
			<div class="col-4 text-right">
				<a href="" class="lang active">EST</a>
				<a href="" class="lang">RUS</a>
				<a href="" class="lang">ENG</a>
				<a href="" class="before-search" data-toggle="headerSearch"></a>
			</div><!--/col-4-->
		</div><!--/row-->
	</div><!--/inline-->
	
	<div class="no-background">
		<div class="inline">
			<div class="row">
				<div class="col-3">
					<a href="" class="logo"><img src="assets/imgs/logo.svg" /> Kultuuriaken</a>
					
				</div><!--/col-3-->
				<div class="col-6 flex-center">
					<nav class="main">
						<ul>
							<li><a href="" title="">Avaleht</a></li>
							<li><a href="" title="asd">Sündmused</a></li>
							<li><a href="">Huvitegevused</a></li>
							<li><a href="">Korraldajale</a></li>
						</ul>
					</nav><!--/main-->
				</div><!--/col-6-->
				<div class="col-3 text-right">
					
					<a href="" class="account-link"><b>Minu kalender <span class="before-calendar"></span></b></a>
					
					<a href="" class="account-link alternative" title="#my_account" rel="interact" data-addonClass="dropdown-menu"><b>Minu konto <span class="before-user"></span></b></a>
					
					<div class="title-content" id="my_account">
						<div class="user-info">
							<div class="user-info_icon">
								<span class="before-user"></span>
							</div><!--/user-info_icon-->
							<div class="user-info_details">
								<p>
									<b>Teater Vanemuine</b>
									Sille Siilipere@vanemuine.ee
								</p>
							</div><!--/user-info_details-->
						</div><!--/user-info-->
						<nav class="nav-dropdown">
							<ul>
								<li><a href="" class="after-settings">Konto seaded</a></li>
								<li><a href="" class="after-logout">Logi välja</a></li>
							</ul>
						</nav><!--/nav-dropdown-->
					</div><!--/title_content-->
				</div><!--/col-3-->
			</div><!--/row-->
		</div><!--/inline-->
	</div><!--/no-background-->
</header><!--/main-->

include "header-mobile.html"