<header class="mobile sm-show">
   
   <div class="header-search" data-class="'visible' : mobileSearch">
      <form method="post" actione="">
      <div class="inline">
         <div class="row">
            <div class="sm-9">
               <div class="form-item">
                  <input type="text" placeholder="Sisesta otsingu märksõna" />
               </div><!--/form-item-->
            </div><!--/col-6-->
            <div class="sm-3 text-right">
               <button class="before-search"></button>
            </div><!--/col-6-->
         </div><!--/row-->
      </div><!--/inline-->
      </form>
   </div><!--/header-search-->
   
   <div class="upper">
      <span class="before-menu" data-toggle="mobileMenu"></span>
      <ul>
         <li class="active"><a href="">EST</a></li>
         <li><a href="">ENG</a></li>
         <li><a href="">RUS</a></li>
      </ul>
      <span class="before-search pull-right" data-toggle="mobileSearch"  data-class="'active' : mobileSearch"></span>
   </div><!--/upper-->
   
   <div class="lower">
      <a href="" class="logo"><img src="assets/imgs/logo.svg" /> Kultuuriaken</a>
   </div><!--/lower-->
</header><!--/mobile-->

<nav class="mobile sm-show" data-class="'active' : mobileMenu">
   <div class="before-close" data-toggle="mobileMenu"></div>
   <div class="holder">
      <ul class="main">
         <li><a href="">Avaleht</a></li>
         <li><a href="">Sündmused</a></li>
         <li><a href="">Huvitegevused</a></li>
         <li><a href="">Korraldajale</a></li>
         <li><a href="">Minu kalender</a></li>
      </ul>
      <ul class="sub">
         <li><a href="" class="link before-arrow">Tartu Linn</a></li>
         <li><a href="" class="link before-arrow">Turism</a></li>
         <li><a href="" class="link before-facebook">Kultuuriaken</a></li>
      </ul>
   </div><!--/holder-->
</nav><!--/mobile-->