<div class="inline">
	<div class="row">
		<div class="col-12">
			<ul class="logos">
				<li><a href=""><img src="assets/imgs/logo-1.svg" /></a></li>
				<li><a href=""><img src="assets/imgs/logo-2.svg" /></a></li>
				<li><a href=""><img src="assets/imgs/logo-3.svg" /></a></li>
			</ul>
		</div><!--/col-12-->
	</div><!--/row-->
</div><!--/inline-->