<div class="full-banner" style="background-image:url(assets/tmp/image-1.jpg)">
	<div class="inline">
		<img src="assets/imgs/placeholder-31.gif" class="placeholder" />
		<div class="row">
			<div class="col-3 sm-hide"></div>
			<div class="col-6 sm-12">
				<div class="col-inline">
					<h3>Leia kiirelt</h3>

					<form method="post" action="otsing.html">
						
						<div class="quick-search">

							<div class="form-item rounded-corners">
								<input type="text" placeholder="Otsi sündmusi, huvitegevusi, kohti" data-plugin="autocomplete" data-url="api/autocomplete.json" />
							</div><!--/form-item-->
							
							<div class="form-item">
								<button class="btn">Otsi</button>
							</div><!--/form-item-->
							
						</div><!--/quick-search-->
						
					</form>
					
					<center>
						<a href="" class="link shadow after-arrow_right">Vaata kõiki sündmusi</a>

						<a href="" class="link shadow after-arrow_right">Vaata kõiki huvitegevusi</a>
					</center>
				</div>
			</div><!--/col-6-->
			<div class="col-3 sm-hide"></div>
		</div><!--/row-->
	</div><!--/inline-->
</div><!--/full-banner-->