<div class="template-filter" style="display:none;">
   <div class="block block-map">
      <h6>Filtreeri tulemusi:</h6>


      <div class="filter-buttons">
         
         {% if filters['theme-4'] %}
         <label class="theme-4">
            <input name="filter-button" checked="checked" type="checkbox" value="4"><span class="before-event_art">Kunst/kästöö</span>
         </label><!--/filter-button-->
         {% endif %}
         
         {% if filters['theme-5'] %}
         <label class="theme-5">
            <input name="filter-button" checked="checked" type="checkbox" value="5"><span class="before-event_nature">Loodus</span>
         </label><!--/filter-button-->
         {% endif %}
         
         {% if filters['theme-3'] %}
         <label class="theme-3">
            <input name="filter-button" checked="checked" type="checkbox" value="3"><span class="before-event_music">Muusika</span>
         </label><!--/filter-button-->
         {% endif %}
         
         {% if filters['theme-7'] %}
         <label class="theme-7">
            <input name="filter-button" checked="checked" type="checkbox" value="7"><span class="before-event_sport">Sport</span>
         </label><!--/filter-button-->
         {% endif %}
         
         {% if filters['theme-6'] %}
         <label class="theme-6">
            <input name="filter-button" checked="checked" type="checkbox" value="6"><span class="before-event_dance">Tants</span>
         </label><!--/filter-button-->
         {% endif %}
         
         {% if filters['theme-1'] %}
         <label class="theme-1">
            <input name="filter-button" checked="checked" type="checkbox" value="1"><span class="before-event_theater">Teater</span>
         </label><!--/filter-button-->
         {% endif %}
         
         {% if filters['theme-2'] %}
         <label class="theme-2">
            <input name="filter-button" checked="checked" type="checkbox" value="2"><span class="before-event_photography">Tehnika</span>
         </label><!--/filter-button-->
         {% endif %}
         
         {% if filters['theme-8'] %}
         <label class="theme-8">
            <input name="filter-button" checked="checked" type="checkbox" value="8"><span class="before-event_courses">Koolitus</span>
         </label><!--/filter-button-->
         {% endif %}
         
         {% if filters['theme-9'] %}
         <label class="theme-9">
            <input name="filter-button" checked="checked" type="checkbox" value="9"><span class="before-event_other">Muu</span>
         </label><!--/filter-button-->
         {% endif %}
         
         {% if filters['theme-10'] %}
         <label class="theme-10">
            <input name="filter-button" checked="checked" type="checkbox" value="10"><span class="before-event_camp">Laagrid</span>
         </label><!--/filter-button-->
         {% endif %}
         
         {% if filters['theme-11'] %}
         <label class="theme-11">
            <input name="filter-button" checked="checked" type="checkbox" value="11"><span class="before-event_ev100">EV 100</span>
         </label><!--/filter-button-->
         {% endif %}
         
      </div><!--/filter-buttons-->

      <div class="map">
         <img src="assets/imgs/placeholder-62.gif" class="placeholder">
         <div class="map-obj"></div>
      </div><!--/image-->

   </div><!--/block block-map-->
   
   
   <div class="row vertical-half">
      
      {% if data.categories %}
         {% for cat in data.categories %}
		
            <div class="col-12">
               <h1>{{ cat.title }}</h1>
            </div><!--/col-12-->

				{% if cat.id == "4" %}
					<div class="col-12 grid-view-show">
						<div class="category-spacer">Veel kestvad</div>
					</div><!--/col-12-->	
				{% endif %}
		
            {% for item in data.list %}
               {% if item.category == cat.id %}
               <div class="col-4 sm-12">
                  <div class="list-item">

                     <a class="link more-link" href="{{ item.url }}">{{ item.additional }}</a>

                     <div class="price">{{ item.price }}</div>

                     <ul class="tags filled">
                        {% for tag in item.tags %}
                        <li class="tag-{{ tag.type }}"><a href="">{{ tag.label }}</a></li>
                        {% endfor %}
                     </ul>
                     <a href="{{ item.url }}" class="image" style="background-image:url('{{ item.image }}')">
                        <img src="assets/imgs/placeholder-56.gif" class="placeholder">
                     </a><!--/image-->
                     <div class="details">
                        <a href="{{ item.url }}" class="title">{{ item.title }}</a>
                        <span class="info">
                           {% if item.location %}
                           <p class="before-location" data-lng="{{ item.lng }}" data-lat="{{ item.lat }}">{{ item.location }}</p>
                           {% endif %}

                           {% if item.date %}
                           <p class="before-calendar">{{ item.date }}</p>
                           {% endif %}
                        </span><!--/info-->

                        <a href="{{ item.url }}">{{ item.content }}</a>
                     </div><!--/details-->

                  </div><!--/list-item-->
               </div><!--/col-4-->
               {% endif %}
            {% endfor %}
      
         {% endfor %}
      
      {% else %}
         {% for item in data.list %}
         <div class="col-4 sm-12">
            <div class="list-item">

               <a class="link more-link" href="{{ item.url }}">{{ item.additional }}</a>

               <div class="price">{{ item.price }}</div>

               <ul class="tags filled">
                  {% for tag in item.tags %}
                  <li class="tag-{{ tag.type }}"><a href="">{{ tag.label }}</a></li>
                  {% endfor %}
               </ul>
               <a href="{{ item.url }}" class="image" style="background-image:url('{{ item.image }}')">
                  <img src="assets/imgs/placeholder-56.gif" class="placeholder">
               </a><!--/image-->
               <div class="details">
                  <a href="{{ item.url }}" class="title">{{ item.title }}</a>
                  <span class="info">
                     {% if item.location %}
                     <p class="before-location" data-lng="{{ item.lng }}" data-lat="{{ item.lat }}">{{ item.location }}</p>
                     {% endif %}

                     {% if item.date %}
                     <p class="before-calendar">{{ item.date }}</p>
                     {% endif %}
                  </span><!--/info-->

                  <a href="{{ item.url }}">{{ item.content }}</a>
               </div><!--/details-->

            </div><!--/list-item-->
         </div><!--/col-4-->
         {% endfor %}
      {% endif %}
      
   </div><!--/row-->
</div><!--/template-filter-->